[2020-05-08 12:38] jerbia opened #4 "Change JIRA ticket layout"
We should the JIRA ticket to include the following information (html format):
- Image name: <image name>
- Registry: <registry name>
- Image is compliance / Image is non-compliant (based on “disallowed” flag)
- Vulnerability summary: a graphical view of high/medium/low issues
A picture containing drawing
- Malware found: yes/no (show this only if scan_malware flag is “yes”)
- Sensitive data found:

[2020-05-08 12:40] jerbia opened #5 "Do not open a duplicate JIRA tickets"
We would like to handle cases where image is scanned multiple times.
In this case WebHook is called multiple times, but we only want to create a new JIRA ticket if the Webhook payload have changes in the number of vulnerabilities that was previously reported.

To do this we will need to:

Once we open a JIRA ticket, we should save information about the ticket in BoltDB.

Before opening a new ticke

[2020-05-08 12:40] jerbia opened #6 "Ticket creation policy"
We would like to have an option that controls the criteria for opening a ticket.

We would like to following fields to be configured via the cfg.yaml:

Policy-Min-Vulnerability= high (what is the minimum vulnerability severity that triggers a ticket)
Policy-Registry=<comma separated list of registries that will trigger opening a ticket)
Policy-Image-Name=<comma separated list of images that will t

[2020-05-08 12:41] jerbia opened #7 "Customized JIRA fields"
We would like to following fields to be configured via the cfg.yaml:

Project-Key
Board
Issue-Type
Priority
Jira-Labels=<list of JIRA labels to add to the ticket>
Assignee

unknowns: <optional custom fields>
     custom-field: <value> e.g., hello world
     custom-field-numeric-field: 1337
     custom-field-multiple-value: <value1>, <value2> e.g., 1,2,3 (must be separated by commas)
     custom-fi

[2020-05-08 12:41] jerbia opened #8 "Aggregate Issues into one ticket"
We would like to have the option to aggregate multiple image scans into a single ticket.
If used, we will not create a ticket on every WebHook, but instead we will create the ticket once the aggregation is triggered (either we reached the number of images or the time).

We would like to following fields to be configured via the cfg.yaml:

Aggregate-Issues-Per-Ticket=<number>
Aggregate-Timeout=<num

[2020-05-08 12:41] jerbia opened #9 "Ignore issues"
Ability to ignore issues in specific images.

We would like to following fields to be configured via the cfg.yaml:

Ignore-Registry=<list of comma separated registries to ignore tickets>
Ignore-Image-Name=<list of comma separated images to ignore, need to support wildcards >

[2020-05-08 12:42] jerbia opened #10 "Support multiple JIRA integrations"
User can define multiple integrations. This can be useful where one integration is done for specific image pattern and another integration for another pattern. This allows opening different type of tickets.

To setup multiple integrations you need to have another integration setup in the cfg.yaml.

[2020-05-12 14:49] afdesk commented on #4
@jerbia I don't find vulnerabilities from last scan.
Should I create a new request to API)? I can use `previous_digest` for this one.
Or just I selected wrong images...

[2020-05-12 15:51] jerbia commented on #4
You need to save it in the bolt DB...

________________________________
From: afdesk <notifications@github.com>
Sent: Tuesday, May 12, 2020 5:49:43 PM
To: aquasecurity/webhook-server <webhook-server@noreply.github.com>
Cc: jerbia <jerbia@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [aquasecurity/webhook-server] Change JIRA ticket layout (#4)

@jerbia<https://github.com/jerbia> I d

[2020-05-12 16:03] afdesk commented on #4
What about first result.
Is it empty for first webhook?

[2020-05-12 18:37] afdesk commented on #4
@jerbia I wanted to use a digest field as DB key. But now I think that's wrong.
is there a field which could use as key?

[2020-05-12 22:23] jerbia commented on #4
You can use the "digest"-"image"-"registry" (the combination of the three fields) for the unique ID.

[2020-05-12 22:33] jerbia commented on #4
@afdesk what I suggest is:
1.  When the webhook is triggered, take the digest-image-registry and check if it exists in the boltdb.
2. If not exist, open a JIRA ticket. Save to DB all the reported vulnerabilities for the image.
3. If exists - read from the DB the last scan results. It should include the number of critical/high/medium/low/negliggable vulnerabilities and malware. Compare it to the cu

[2020-05-13 05:59] afdesk commented on #4
ok, I thought that `digest` isn't unique param and there are different digests for the same vulnerabilities lists. I was wrong.

[2020-05-13 07:12] jerbia commented on #4
Digest is unique.
It might be that same image is stored on two registries, in that case you will get same digest twice for different images. Due to that I suggest you add the image and registry name to the uniqueness of the object.

[2020-05-13 18:14] afdesk commented on #4
@jerbia for test I see image `alpine:3.8` (registry `Docker Hub`) and see that `digest` is equal `previous_digest`.
Is it normal?

[2020-05-13 21:16] jerbia commented on #4
Yes. Previous Digest is the digest of the image on the previous scan. If equal it means image did not change in the registry.
If not equal - it means this is a new image that was pushed to the registry that overrides the previous one.

Since you are only caching the digest you will know that a replacement for an image with same name happened. This is OK.

[2020-05-14 11:09] afdesk commented on #4
@jerbia I see a new template of config file (cfg.yalm).

There are a few moments:
1. Can we use a `projectKey` instead of `project id`? I think that `Project id` is Jira's inner data.

2. What is mean a `project name`? Now it uses as project key. There is an error if `project name` doesn't match `project id`

3. `IsuueType` is empty, but issue type is required. It should set up, or need default va

[2020-05-14 11:26] afdesk commented on #7
@jerbia I transferred my questions to this ticket.

There are a few moments:
1. Can we use a `projectKey` instead of `project id`? I think that `Project id` is Jira's inner data.

2. What is mean a `project name`? Now it uses as project key. There is an error if `project name` doesn't match `project id`

3. `IsuueType` is empty, but issue type is required. It should set up, or need default value.

[2020-05-14 15:04] jerbia commented on #4
Few fixes:
- Change to "Image is complaint" (and not "Image is compliance"). Move it to a new line
- Malware found: No (instead of "no")
- Sensitive data found: No (instead of "no")
- Move the malware and sensitive data before the table

Remove the "Found Vulnerabilities" if there are 0 vulnerabilities...

![image](https://user-images.githubusercontent.com/3126261/81950786-120ffb80-960d-11ea-95fa-

[2020-05-14 15:21] jerbia commented on #7
1. Yes. Let's remove the project ID from the configuration file.
2. Let's remove Project Name and just use Project Key
3. Let's put "Bug" as default value.
4. Yes, default values will be good.
5. Description can be removed.

Basically can you check that all the fields are easy to get from JIRA UI and that we don't have something that requires an internal ID?

[2020-05-14 15:31] afdesk commented on #4
@jerbia Can you tell me how to build previous (or next) scan for tests?

[2020-05-14 16:07] afdesk commented on #8
@jerbia can you describe a format of timeout? just a number of seconds 1...86400?

[2020-05-15 10:52] jerbia commented on #4
@afdesk I don't have a way to create an image scan that will show difference in vulnerabilities. You will need to simulate this in the unit tests.

[2020-05-15 10:54] jerbia commented on #8
Aggregate-Timeout=Xs or Xm or Xh (basically 20s will be 20 seconds, 20m will be 20 minutes, etc.)

[2020-05-15 11:12] jerbia opened #13 "Support ServiceNow integration"
We would like to add ServiceNow integration, allowing to open tickets on ServiceNow systems.

We should cover the exact same cases we have for JIRA.

[2020-05-15 11:13] jerbia opened #14 "Email integration"
We would like to support email integration, where email is sent based on webhook image scan events.

The business logic should be exactly the same as the JIRA integration

[2020-05-17 06:33] jerbia opened #19 "Support getting value from environment variable"
The cfg.yaml has values that are sensitive data.
We would like to be able to support getting these values from environment variable.
For example, the cfg.yaml can have:

user: $JIRA_USER_NAME
password: $JIRA_PASSWORD

In case the value starts with "$" sign then we would like to take it from an environment variable.

[2020-05-17 06:45] jerbia commented on #7
@afdesk I've updated the issue details. Seems like there is already support to custom fields in the cfg.yaml. Can you please test that it is working?

custom: <optional custom fields>
     custom-field: <value> e.g., hello world
     custom-field-numeric-field: 1337
     custom-field-multiple-value: <value1>, <value2> e.g., 1,2,3 (must be separated by commas)
     custom-field-multiple-line-text-f

[2020-05-17 06:56] jerbia commented on #7
OK, I've checked the "unknown" and it seems to work (custom fields are created).

Please merge the pull request with master and I will approve it.

[2020-05-17 06:56] jerbia commented on #7
#15

[2020-05-17 17:03] #7 closed

[2020-05-19 11:49] jerbia opened #21 "Layout changes"
Few asks for the layout (see screenshot below):

1. If there are vulnerabilities or sensitive data, please add a section that shows the malware names / sensitive files. You can scan an image called "jerbi/eicar" to see how a malware payload looks like.

2. In the vulnerability details section, please group the results by severity, showing the critical, high, medium and low vulnerabilities based on

[2020-05-19 13:28] afdesk commented on #21
@jerbia about 3th. I saw this bug during html tests.
It fixed for issue-14.
Is it ok?

[2020-05-19 13:50] afdesk commented on #21
@jerbia does webhook contain information about malware and sensitive files?
just i can't find....

[2020-05-20 01:16] afdesk commented on #6
@jerbia are this policies for all plugins (jira, email) or only for Jira?
if there are common rules, should i create new part in cfg.yaml?

[2020-05-20 05:23] afdesk commented on #9
Which wildcards should it support? Only `*` and `?` ?

[2020-05-20 11:29] afdesk commented on #6
@jerbia I offer add ` settings` block to cfg.yalm. Is it ok?
[code]

[2020-05-20 11:30] afdesk commented on #6
and this `settings` will be common for all plugins

[2020-05-20 19:11] jerbia commented on #14
Works.

[2020-05-20 19:11] #14 closed

[2020-05-20 19:30] #4 closed

[2020-05-21 10:14] afdesk commented on #6
@jerbia
I don't understand about a severity param.
Should I use aqua_severity, nvd_severity, vendor_severity or other?

[2020-05-21 10:49] afdesk commented on #6
Now I use `aqua_severity`. Pushed.

[2020-05-21 11:54] afdesk commented on #9
@jerbia I offer to include these settings to issue 6. is it ok?

[2020-05-22 10:15] jerbia opened #23 "Add the installed package version in the email/jira ticket"
Currently in the JIRA ticket we show:

Resource name: libxml2

# | Name | Version | Fix version
-- | -- | -- | --
1 | CVE-2019-20388 | none | 2.9.10-r3

I would like to add the "Version" information under the resource name. This is the installed resource version.
It is available in the Webhook payload:
"resource": {
        "format": "apk",
        "name": "apk-tools",
        **"version": "2.10.0

[2020-05-22 10:16] #23 closed

[2020-05-22 10:16] jerbia commented on #23
Opened by mistake

[2020-05-23 18:55] #6 closed

[2020-05-23 19:20] jerbia commented on #5
Fixed.

[2020-05-23 19:20] #5 closed

[2020-05-23 19:20] jerbia commented on #9
Fixed.

[2020-05-23 19:20] #9 closed

[2020-05-24 11:25] jerbia opened #26 "Add Slack integration"
Add integration with Slack.

If should be possible to define the slack channel name that will get the messages.

[2020-05-24 19:29] #19 closed

[2020-05-24 19:34] #10 closed

[2020-05-26 04:52] afdesk commented on #21
@jerbia
I call a new scan of image:"jerbi/eicar:latest" and receive the webhooh:
[code]

[2020-05-26 04:53] afdesk commented on #21
@jerbia Can you explain me: what is the information about vulnerabilities and sensitive data?
thanks

[2020-05-26 05:13] afdesk commented on #21
@jerbia just I really can't find  the malware names / sensitive files in th webhook.
Maybe should I create a new request to API?

[2020-05-31 20:41] #8 closed

[2020-05-31 20:51] jerbia commented on #21
You are right. I will ask the team to add the malware and sensitive file information to the webhook

[2020-05-31 20:52] jerbia opened #31 "Microsoft Teams integration"
Integration with Microsoft Teams for vulnerability messages.

[2020-05-31 20:54] jerbia commented on #26
Done

[2020-05-31 20:54] #26 closed

[2020-05-31 21:28] jerbia opened #32 "A new policy: open ticket only if vulnerability has a fix"
A new policy that will open a ticket/send email/slack only if reported vulnerability has a "fix version".

If the image does not have a fix version then this policy will ignore it.

The cfg.yaml token should be:
Policy-Only-Fix-Available: true/false

If "true" then you open a ticket only if one of the vulnerabilities has a fix available.

[2020-06-02 16:44] #32 closed

[2020-06-09 16:12] #13 closed

[2020-06-10 14:09] jerbia opened #40 "Add malware and sensitive data file names to the message details"
Currently we specify whether malware/sensitive data was found (yes/no).
We should also include information about the actual files that are effected.

[2020-06-10 14:11] jerbia opened #41 "Scale test"
Test the system with 1000 Webhook messages.

Please check:
1. Same vulnerability message is passed  1000 times
2. Different 1000 unique messages are sent
3. Repeat #1 and #2, use multiple targets (at least 3 targets)
4. Repeat #3, with different policies per target
5. Repeat #3, with aggregation policy of 1 hour

[2020-06-11 13:49] afdesk commented on #41
@jerbia I pushed to `issue-41` this tests.
you run it via make: `make scale`

also I added a new demo plugin `prn`.
it can add to cfg.yalm:
[code]

[2020-06-13 11:38] #31 closed

[2020-06-13 12:16] jerbia opened #42 "Move the boltdb database file"
Move the database file to /server/database/webhooks.db

[2020-06-17 07:19] jerbia opened #44 "Add a "Webhook" target"
We would like to have a new type that is "webhook".
This type can be useful for users that want to send the scan results to a remote webhook.

The data sent should be identical in format to the data that alm-integration is getting (same payload). We should support all the policies also for the webhook type.

[2020-06-17 07:26] jerbia opened #45 "Add retention policy to delete old images from the database"
Currently the BoltDB database size is not limited. We would like to have a new token in cfg.yaml that controls data retention:

Max_DB_Size=1000MB (if empty then unlimited)
Delete_Old_Data=180d (delete data older than 180 days). If empty then we do not delete.

These two settings should be under the main cfg.yaml section

[2020-06-19 19:50] jerbia opened #46 "Add link to scan results in all cases"
We should add a link to scan results in Aqua Console for all cases: Jira ticket, email, slack, servicnow and teams (when message is short).

[2020-06-20 14:08] afdesk commented on #44
@jerbia what about aggregate policies. Is it need to support too?

[2020-06-20 19:47] jerbia commented on #44
yes, all policies should be supported

[2020-06-20 19:51] #42 closed

[2020-06-25 09:20] afdesk commented on #44
@jerbia
When I receive webhook from a server, I save only required data, the large part of received data is lost.
Should I save all "incoming data" for send to user's webhook?

[2020-06-30 19:00] amirgabrieli opened #48 "Add support in OpsGenie"
We need to add support in OpsGenie. Similar functionality as for ServiceNow.
BTW, we already have Golang code that sends tickets to OpsGenie

[2020-07-24 14:26] ryohare opened #49 "Doesnt work out of the box"
Boltdb doesnt create directory paths and the default `/server/database` is not created thus the call to `bolt.Open` fails.

[2020-08-06 11:42] eurogig commented on #44
@jerbia
I was just about the create this issue based on a request.  The webhook, should be able to be a pass through for the unchanged webhook JSON data. This ALM removes the webhook capability (and enhances it here) so there need to be an option for that to restore that capability in addition to applying policy.

[2020-08-14 19:25] danielpj opened #51 "Jira Plugin Logging"
Does the Jira Plugin generate logs for troubleshooting? Authentication etc. Where might this be accessed? I am trying to track down why the plugin is not resolving the project names but unsure of where the issue lies. I know the cluster can reach the Jira server. Logs below:

2020/08/13 00:29:41 Starting WebServer....
2020/08/13 00:29:41 Starting AlertMgr....
2020/08/13 00:29:41 Loading alerts con

[2020-08-15 19:26] jerbia commented on #51
@afdesk is it possible to add more logging before the "no boards found with name XXXX board when getting all boards for User" message? Something that will help identifying why no boards were found.

[2020-10-09 20:24] jasonmcintosh commented on #51
We are hitting this exact same issue and it's causing the webhook to compeltely crash :(

[2020-10-22 04:43] jasonmcintosh commented on #51
FYI: Found out our issues is that apparently the old webhook project is "dead".  Instead, I had to rebuild this docker image (or if you're a customer, you can pull it from the aquasec repo).  Once I changed htat, my Jira issues went away entirely.

[2020-10-30 16:27] jerbia commented on #49
@ryohare  can you check again?

[2020-11-02 14:53] rkwa-dan opened #53 "docker build stage fails"
[code]
13 #RUN mkdir /server << not needed
 14 #RUN mkdir /server/database << not needed
 15 RUN mkdir /config
 16 RUN mkdir -p /server/database  << replaces lines 13 and 14 since the -p mkdir flag serves  the same purpose.
[code]

[2020-11-19 22:06] jerbia commented on #49
This works now.

[2020-11-19 22:06] #49 closed

[2020-11-25 15:58] ericgomes56 opened #54 "Support Wildcards (*) for Image-Policy-Name value"
Please extend support for wildcards (*) for Image-Policy-Name value

[2020-11-25 16:27] jerbia commented on #54
@afdesk can you have the image names, in the Image-Policy-Name, supports wildcards?
For example:

Image-Policy-Name=[*:latest, mongo:1.*, mon*:*]

[2020-11-26 11:40] afdesk commented on #54
@jerbia
first and second options work now.
usage:
[code]

[2020-11-26 13:30] krol3 commented on #54
I did the following tests. It works using the name image without the tag. It will be nice if we could use regular expression.

--- Test01 ----
in the cfg.yaml: Policy-Image-Name: ["alpine:*"]

2020/11/26 13:18:46 Handling a scan result of 'Docker Hub/alpine:3.6'
2020/11/26 13:18:46 ScanService: Image "alpine:3.6" wasn't allowed (missed) by currentSettings for "kanban-jira".
2020/11/26 13:18:46 Sca

[2020-11-26 13:34] krol3 opened #56 "Support for the other types of Jira Board"
The integration ALM works only with the jira board type scrum.

[2020-11-26 13:42] afdesk commented on #56
@krol3
Could you show the logs?
Default Kanban board doesn't contain priorities.

[2020-11-26 13:52] krol3 commented on #56
We could update in the readme, the scrum board type.
Here the logs

[code]

[2020-11-26 17:06] #54 closed

[2020-11-26 18:36] jerbia commented on #54
@ericgomes56  this was now merged to master. You can use wildcards.

[2020-12-04 10:01] afdesk commented on #56
@krol3 I'm sorry for waiting.
I tried to reproduce this issue, but couldn't.
would you mind showing me settings for your Kanban Board?
thanks.

[2020-12-04 10:09] afdesk commented on #56
I found one moment: `Project keys must start with an uppercase letter...`
and fix it now

[2020-12-09 18:23] ericgomes56 opened #58 "Send Scan Results Everytime"
Please allow for the ability to toggle sending scan results always, regardless if the vulnerability count or severity has not changed.

Perhaps under 'Image-Policy-Name' in the cfg.yaml, we can add another flag to allow or disallow this feature.

[2020-12-10 11:27] afdesk commented on #58
@jerbia
I've made a new flag: `Policy-Show-All`.
if this flag is true, webhook app will handle old results. Default value is false.
I've created a pull request.

[2020-12-10 15:37] cpt-redbeard opened #60 "Include SMTP server"
The email notifications require user/pass/host/port for the SMTP configuration. Can the alm-integration include an SMTP server where you can define the user and domain the email is coming from?

example:
- name: my-email
  type: email
  enable: true
  domain_sender: #Mandatory: The email address to use as a sender and domain for the SMTP server

[2020-12-10 15:39] cpt-redbeard opened #61 "Add field for application scope email to populate email recipient"
The ricipient value should reference the email address from the application scope (sent to ALM). This would be an 'auto-get' for who the email notification should be directed to, from the audit data itself.

[2020-12-10 22:55] jerbia commented on #58
Thanks @afdesk. Can you also update the readme.md with the new parameter?

[2020-12-10 22:57] jerbia commented on #51
Closing issue as seem to be related with the old version of the alm-integration image.

[2020-12-10 22:57] #51 closed

[2020-12-10 22:58] #56 closed

[2020-12-10 23:00] jerbia commented on #44
@afdesk yes - you should save all received data and send it to the next webhook pipe.

[2020-12-11 13:02] afdesk commented on #58
I've added it

[2020-12-14 10:05] afdesk commented on #60
@cpt-redbeard Email integration parameters contain `sender` field, this is Sender's email address.
Can this parameter help you? Or should add a new logic?

[2020-12-14 10:19] afdesk commented on #45
@jerbia it seems like this issue was solved.

[2020-12-14 14:29] cpt-redbeard commented on #60
The request is to not require those parameters or the use of an external smtp. I believe this would require an internal smtp ?

[2020-12-17 11:18] #58 closed

[2020-12-17 11:32] #44 closed

[2020-12-17 11:32] #45 closed

[2020-12-17 12:32] jerbia commented on #60
I need to better understand the use case - if you want to use an "internal" smtp server you can run an smtp server container (like this one https://hub.docker.com/r/namshi/smtp/) and configure the alm-integration to work against it.
I don't think we want the alm-integration to have a full-blown smtp server inside of it.

[2020-12-17 15:23] #46 closed

[2020-12-20 21:14] jerbia commented on #61
Done.
You should specify "<%application_scope_owner%>" in the recipients field of cfg.yaml. For example:
recipients: ["<%application_scope_owner%>"]

This will send the email to the image application scope owners (as defined in the Application Scope assigned to the image)

[2020-12-20 21:14] #61 closed

[2020-12-21 22:08] ericgomes56 opened #69 "error validating data: ValidationError(Deployment.spec.template.spec): unknown field "volumeMounts" in io.k8s.api.core.v1.PodSpec"
Grabbed the latest branch for the alm-integration.

I encountered this error below when deploying the latest webhook.yaml in /aquasecurity/alm-integration/kubernetes.

![Screen Shot 2020-12-21 at 5 03 45 PM](https://user-images.githubusercontent.com/38416014/102826455-a6fe8280-43ae-11eb-9fad-04496b008ec7.png)

If I force with '--validate=false', the cfg.yaml isn't mounted into the webhook Deployme

[2020-12-21 22:20] krol3 commented on #69
This is a bug, I will submit the PR to fixed it

[2020-12-21 23:24] krol3 commented on #69
@ericgomes56 could you validate the fix>

[2020-12-22 02:53] krol3 opened #71 "create release using goreleaser"
I´m trying to create a release with github actions
I have some errors to build the main class

Here the error: [Branch-release-test](https://github.com/krol3/alm-integration/runs/1591791175?check_suite_focus=true)

[2020-12-22 17:34] ericgomes56 commented on #69
This works now, thanks.

[2020-12-28 04:32] ericgomes56 opened #72 "Add Support for Host-Image-Name"
Please extend support for hosts as we do with images.

[2021-01-11 16:18] ericgomes56 opened #73 "Support Docker Labels for Integration Settings value"
Please extend support for Docker Labels as criteria for routing risk assessments.

There is a need to use Docker image metadata or labels that can create/ingest to route traffic to specific JIRA boards based on metadata from the docker image itself -- rather than mapping docker image names to specific teams.

We have upwards of 10 teams that manage a dozen or more different docker images. We don't

[2021-01-14 06:19] #69 closed

[2021-01-14 15:59] jerbia commented on #73
@ericgomes56 currently the image label information is not sent via webhook.

Are they familiar with the support of user emails that they can use? Create an Application Context, assign it to a user email and ALM Integration receives the email address as part of the Webhook. Would that help?

[2021-01-17 11:14] amirgabrieli opened #74 "Build an integration with Splunk"
We need ALM to send vulnerability scan results to Splunk. Can you please develop this model?
Thanks,

[2021-01-18 16:11] jerbia commented on #71
@afdesk can you help @krol3 with the issue?

[2021-01-19 10:46] afdesk commented on #71
@krol3 It seems like github actions (or goreleaser) don't see `GOPATH`.
Can you show a settings file (`.github/workflows/release.yml`)?
for my tests. thanks!

[2021-01-20 16:50] krol3 commented on #71
I will review it

[2021-01-20 19:06] amirgabrieli opened #76 "Develop a helmchat to deploy the ALM component (using Helm)"
Please develop and add a helm-chart to deploy the ALM component. Thanks.

[2021-01-21 09:40] vAndrucha77 commented on #40
@jerbia is this something we are currently working on or is this an roadmap item?

[2021-01-21 15:07] jerbia commented on #40
Yes, this is on our plans

[2021-01-21 15:12] jerbia commented on #40
@afdesk can you add malware information? It's in the Webhook under (array of malware resources):
  "malware": [
    {
      "malware": "EICAR test file",
      "path": "/eicar.com",
      "hash": "sha1:3395856ce81f2b7382dee72602f798b642f14140"
    }
  ],

  You can scan jerbi/eicar:1 for malware.

[2021-01-21 15:14] jerbia commented on #40
Sensitive data is under this JSON field (again - array):

"sensitive_data": [
    {
      "filename": "ssh_host_ecdsa_key",
      "path": "/etc/ssh/ssh_host_ecdsa_key",
      "type": "EC PRIVATE KEY",
      "hash": "sha1:46dead03015c298c2d454cc4fa2a702a99a96bca"
    },

[2021-01-21 15:16] jerbia commented on #60
Done. We added "UseMX" flag to the email settings.

[2021-01-21 15:16] #60 closed

[2021-01-25 10:18] afdesk opened #79 "“assignee” does not work"
There is a problem with `assignee` field:
1. Default which indicates “Default is the user that opened the ticket” does not work and ticket gets no assignee.
2. If I specify assignee in cfg file either by email or name (user is member of this board) it does not work either.

[2021-01-25 15:24] #79 closed

[2021-01-26 06:31] afdesk commented on #74
Hello @amirgabrieli!
I'm working about this integration now.

I did work with Splunk, can you help me with some moments?
I want to send events to `HTTP Event Collector`. Is it OK?

also  which format is better for these events?
I want to write a webhook title to an `event` field, and add other JSON to `nested`field.

[2021-01-26 07:15] amirgabrieli commented on #74
hi,

I can provide you with a Splunk instance if you need one.

Do you know how to Operator Splunk and create your own HTTP Event Listener?

Regarding the format - let me know what you recommend. I need a format where users will be able to see the image, the scan results, the registry, the vulnerabilities, the severity, the fixed version (if any), and vulnerability description, and the remediation

[2021-01-26 07:47] afdesk commented on #74
@amirgabrieli
Thanks for offer your instance.
I think it will be useful for finish tests.
I'm using a docker instance now, and I'll try to use a trial period for cloud version.

Yes, I can create a HTTP Event Listener and send a JSON to my splunk instance.

I need some time to think over about format.
If i understand right, Splunk usually contains 'timestamp - event' data.

Should ALM add one even

[2021-01-26 08:12] amirgabrieli commented on #74
you'll need a timestamp for each scan results, yes. I think one event per scan is the right approach. Json vs. plain-text, I don't know what's better, I mostly see people use json format.

[2021-01-26 14:15] krol3 commented on #76
I'd like to help with this issue

[2021-01-28 13:06] afdesk commented on #74
Hello @amirgabrieli
I've pushed a first version of Splunk plugin for ALM integration to `issue-74` branch.
would you mind using it?

If yes, I need to set next parameters in `cfg.yaml`:
[code]

[2021-01-28 18:36] ericgomes56 commented on #73
@jerbia I will follow up with any concerns early next week but that approach makes a lot of sense.

[2021-01-28 19:17] ericgomes56 commented on #73
@jerbia can we add an Application Scope to the JIRA integration?

Ideally what would happen if using something like an Application Scope is we define all the Application Scope, generally going to be one per development team.  Inside each Application Scope, we would define the namespaces that each team owns. Then, once the ALM (Postee) webhook kicks off, it would see which scope that image falls in

[2021-02-01 13:16] afdesk commented on #71
hi @krol3!
Can you help with one moment, please?

It seems like I found a problem.
Now ALM integration uses `make` without go modules.

Would you check your goreleaser script with `GO111MODULE=off` and without `go mod download`?

Thanks!

[2021-02-01 22:14] #40 closed

[2021-02-01 22:15] jerbia commented on #40
@vAndrucha77 this is now available.

[2021-02-01 22:35] #74 closed

[2021-02-02 07:37] amirgabrieli commented on #74
I'll test the Splunk plug-in and let you know how it works for us, thanks!

[2021-02-05 11:05] jerbia opened #83 "Support OPA/REGO policy"
A new policy option: user can provide a REGO file/files to the plugin section in cfg.yaml.
If there is a match between the input message and one of the plugins Rego expression, then we forward the message based on the plugin details.

The new policy should be called:
Policy_OPA = <path to Rego rules>

It should be a generic policy that all plugins should support.

[2021-02-09 14:58] krol3 commented on #71
Now, It's working please take a look: https://github.com/krol3/alm-integration/actions/runs/551680167

[2021-02-10 15:22] krol3 commented on #71
For your review @jerbia and @afdesk . Here are the following steps to create a release. I will update the docker to use the gorelease too.
[code]
https://github.com/krol3/alm-integration/releases/tag/v1.1.3
https://github.com/krol3/alm-integration/actions/runs/555014086

[2021-02-11 18:55] krol3 opened #86 "Support for other integration - AWS"
Support for lambda, sqs, sns, cloudwatchlogs

[2021-02-24 21:01] ericgomes56 commented on #73
@jerbia do you think we can add flexibility to use the Application Scope in the cfg.yaml? This is for Lifeway.

[2021-03-01 17:27] ericgomes56 opened #91 "Error When Not Adding PVC"
We need to add 'kubectl create -n aqua -f pvc.yaml' to the step after creating the PV.

If I don't have a PVC and only create the PV, this is the error I receive:
![Screen Shot 2021-03-01 at 12 24 45 PM](https://user-images.githubusercontent.com/38416014/109534514-66e00e00-7a89-11eb-8f98-b7f2ee483fb8.png)

We need to re-add the PVC instruction set back.

[2021-03-01 21:16] jerbia commented on #91
@krol3 can you help with this one?

[2021-03-01 21:20] jerbia commented on #73
Yes. We have support for application scope owner in the email integration.

To which other integration do you want to add support for app scope owner?

[2021-03-01 21:20] krol3 commented on #76
Yes I will create the PR

[2021-03-01 23:16] krol3 commented on #91
@ericgomes56 was updated in the last merge https://github.com/aquasecurity/postee/pull/87
I will review it and test it.

[2021-03-02 00:15] ericgomes56 commented on #73
@jerbia for the JIRA integration.  Lifeway has stopped working on Postee until we can get Application Scope support for it.

[2021-03-02 23:01] jerbia commented on #73
@afdesk can you add support for JIRA assignee to be based on the application owner email?
Same as we did for email integration.

[2021-03-04 09:56] nikolakresic commented on #73
I have question here.
We are also interested in this functionality but i dont see how this could work for multiple users sharing the scope in such a way that they see some resources and it overlaps, so i have 2 or more scoped users who see the same resource, whatever that is - which one will be selected and pushed to JIRA ?

Can we have something like an internal Aqua label that we apply to someth

[2021-03-04 14:15] ericgomes56 opened #96 "Add Support for specific Vulnerability Severity"
@jerbia do you think we could add support for a specific vulnerability severity as part of a key in the cfg.yaml?  Something like 'Policy-Vulnerability-Level'?  'Policy-Min-Vulnerability' does a severity range but 'Policy-Vulnerability-Level' does exactly only the severity level specified as the value.  Our customer would love this flexibility as they use JIRA in their daily workflows.

[2021-03-04 15:53] krol3 commented on #86
I will take a look at this plugin integration.

[2021-03-04 19:40] jerbia commented on #96
Not sure I understand the use case.

Assume you have specific vulnerability set, like "medium", but image has low and high - so you don't want to get any notification?

Now assume you have the configuration set to "medium", and image has medium and high - in this case you do want to get notification that will include all the vulnerabilities?

[2021-03-04 19:42] ericgomes56 commented on #96
@jerbia yes, that is correct.

[2021-03-04 20:25] jerbia commented on #96
You can do it with the new support to OPA policy rules.

Add this to the cfg.yaml JIRA section:
  Policy_OPA: ["/config/policy.rego"]

Create the policy.rego file with this content:

package postee
default allow = false
allow {
    input.vulnerability_summary.critical=0
    input.vulnerability_summary.high=0
    input.vulnerability_summary.medium>0
}

This will trigger the JIRA only if medium vuln

[2021-03-04 20:27] #96 closed

[2021-03-04 20:27] #83 closed

[2021-03-06 16:28] jerbia commented on #73
@nikolakresic  Once you scan an image that is member of multiple scopes, Postee will be triggered with the list of all owners of the application scopes that image is member of (meaning, an array of emails).

Right now the Application Scope email address is only used with the Postee "email" provider. In case of multiple email addresses, Postee will send an email to these multiple email addresses.

[2021-03-08 06:52] nikolakresic commented on #73
@jerbia maybe not manually but through API calls, so i can script it somehow ?

while were talking, is there a way for Aqua to read "properties" from artifactory ? we dont need to keep ownership info directly in Aqua if Aqua can pull this from somewhere else ?

[2021-03-11 14:17] afdesk opened #99 "Add support for Nexus IQ"

[2021-03-11 18:51] jerbia commented on #73
@nikolakresic we've added support for JIRA assignee to get the email from the Application Context in Aqua.
The challenge is that in case of multiple emails in the application context, JIRA will just get the first email address as asignee.

As suggested, we can also support to consume the Aqua Labels assigned to the image, and used it as the JIRA assignee.
Is it something you'll be interested in?

[2021-03-12 00:47] krol3 opened #100 "Add the livenessProbe and readinessProbe in k8s"

[2021-03-16 19:41] ericgomes56 opened #102 "Update configmap.sh"
Update configmap.sh to reflect Step 2:

kubectl create -n aqua configmap postee-config --from-file=../cfg.yaml

[2021-03-17 06:20] afdesk commented on #48
hello @amirgabrieli !
I want to resolve this issue.
Would you mind showing Golang code that sends tickets to OpsGenie?
Thanks!

[2021-03-17 07:57] amirgabrieli commented on #48
Hi,

The Golang is part of a private repo. However, I can send you the golang files to your email.  LMK

[2021-03-18 15:24] jerbia opened #103 "Create a UI for Postee"
The UI should allow:

- configure a new integration
- modify integration settings
- delete an integration

Changes to Postee should not require restart of the Postee process.

Changes should be reflected in the cfg.yaml, so that it will survive restarts.

[2021-03-23 17:31] jerbia commented on #102
Done with #107

[2021-03-23 17:31] #102 closed

[2021-03-23 17:32] jerbia commented on #91
@ericgomes56 @krol3 can we close this issue?

[2021-03-23 17:36] krol3 commented on #76
@jerbia is this issue could be closed ?

[2021-03-23 18:37] jerbia commented on #76
Yes

[2021-03-23 18:44] ericgomes56 commented on #91
Yes, thanks.

On Tue, Mar 23, 2021 at 1:32 PM jerbia ***@***.***> wrote:

--
*Eric Gomes ***@***.***>*

[2021-03-29 01:43] #91 closed

[2021-03-29 01:44] #76 closed

[2021-04-01 02:17] krol3 commented on #71
Closing this issue, already merged.

[2021-04-01 02:17] #71 closed

[2021-04-05 08:28] afdesk opened #108 "Migrating to Go Modules"
This project started a few years ago, when Go didn't support modules and it uses make for building.
Now Go versions use modules by default.

I suggest to migrate from `make` to `go modules`.

The code will become more clearer and modern.
also for me it'll be more convenient to use code from Postee into UI.

@jerbia, @krol3 What do you think about this migration?

[2021-04-05 11:29] krol3 commented on #108
Love it the idea.  Already I had a older pr to migrate it.  I could help with the migration if you can @afdesk

[2021-04-06 05:16] afdesk commented on #108
@krol3 Great thanks! your help will need!

I want to run `go mod init` and change dependencies.
After it it'd be nice if you update deployment scripts.
thanks!

[2021-04-06 10:42] afdesk commented on #108
@krol3 I've made major changes, pushed `issue-108` branch and the draft PR was broken.

Can you take a look at it?
Thanks!

[2021-04-06 14:23] krol3 commented on #108
I will take a look today @afdesk

[2021-04-08 11:36] lorsal opened #111 "Postee fails to send email to application scope owner"
When configuring Postee to send email notifications to the respective application scope owners by including "<%application_scope_owner%>" in the list of recipients in the config map, the postee server log shows an error and the results are not sent.

2021/04/08 11:17:12 get application scope owners error for "ses": recipients field contains "<%application_scope_owner%>", but received a webhook wit

[2021-04-08 12:40] afdesk commented on #111
@lorsal thank you for your feedback and details!

I'm reviewing the scan results from your log file, and I can't find `application_scope_owners` field in these webhooks.

[2021-04-08 12:52] afdesk commented on #111
`<%application_scope_owner%>` means that `Postee` will send the email to the image application scope owners (as defined in the Application Scope assigned to the image).
@lorsal Could you check these settings? thanks!

[2021-04-08 13:02] jerbia commented on #111
@lorsal Did you create an Application Scope in the Aqua UI?

See attached screenshot for an example of Application Scope that will trigger Postee to send email to xx@xx.com once an Alpine image is scanned.

![image](https://user-images.githubusercontent.com/3126261/114031201-cea52800-9883-11eb-90b0-ab9b38dcdd12.png)

[2021-04-08 13:11] afdesk opened #112 "Remove sensitive information from the Postee logs"
`Postee` have sensitive information inside the Postee logs (host names, users, password).
This data should remove from being written to the logs.

[2021-04-08 13:28] lorsal commented on #111
Hi, thank you for the quick replies!

I did create an application scope with my email address (as in your screenshot @jerbia )

I just tried again with a different namespace (and application scope), please find the server logs attached.

[server.log](https://github.com/aquasecurity/postee/files/6278963/server.log)

[2021-04-08 13:35] afdesk commented on #111
@lorsal
Could you show `Postee` logs? but **without** blocks: `alertmgr.PluginSettings{Name:""...`

[2021-04-08 13:49] lorsal commented on #111
Here you go
[postee-log-2.txt](https://github.com/aquasecurity/postee/files/6279098/postee-log-2.txt)

[2021-04-08 14:26] afdesk commented on #111
@lorsal I'm trying to debug this issue. and I don't see `application_scope_owners` field in your logs.

My steps for reproducing the issue are next:
1. In Aqua UI: go to `Administration` -> `Application Scopes`
2. Add Scope (or edit an existing scope)
3. Add `Owner Email`
4. Add `Repository` into `Artifacts`
5. Click `Update`
6. Rescan a specific image from the scope

And I receive a correct webho

[2021-04-08 15:55] lorsal commented on #111
Ah yes, I just tried the Artifacts variant (your step 4) and that works. What I was trying to do earlier (and what we need) is to add a namespace under the Workloads section and then send the email to the owner.
I didn't realize that you need to combine the two (fill in Artifacts and Workloads).
Anyway, it works now. Thank you!

[2021-04-08 16:01] afdesk commented on #111
@lorsal I was glad to help you!
Can we close this issue?

[2021-04-09 05:51] #111 closed

[2021-04-09 09:52] AndreyLevchenko opened #113 "Can't add slack integration"
I'm trying to add Slack integration and I see this:
![slack-integration-issue](https://user-images.githubusercontent.com/353652/114162677-2490d300-994b-11eb-9355-95a0fdcdf6b5.png)
but I can't find "Incoming Webhooks" or "Add to Slack" mentioned in Readme. Seems Slack dropped some support for Custom Integrations and new plugin needs to be added.

[2021-04-09 11:21] AndreyLevchenko commented on #113
I did more investigations and figured out that no code changes are required, but configuration steps are different:
I used steps below:

1. Visit api.slack.com
2. Press "Create custom app"
3. Fill app name and select slack workspace
4. Open "Incoming webhooks" tab
5. Enable "Incoming webhooks"
6. Add webhook to workspace
7. On next screen pick slack channel and click allow
8. Copy webhook url to t

[2021-04-09 13:05] #108 closed

[2021-04-09 13:12] jerbia commented on #113
Thanks! I've updated the Readme.md file with your details.

[2021-04-09 13:12] #113 closed

[2021-04-12 06:40] #112 closed

[2021-04-13 05:20] lorsal opened #117 "Time until old results are resent is unclear"
I have a question about resending scan results upon rescan of images where the findings remain unchanged.

I saw that in the cfg.yaml, it is possible to configure the Delete_Old_Data parameter in order to define how long scan information is persisted in the database. I assumed that means that the results of rescans (if unchanged) are not sent out to recipients for whatever amount of days is entere

[2021-04-13 05:46] jerbia commented on #117
Hi @lorsal
One of the configuration items in cfg.yaml is 'Policy-Show-All', which can be true or false. This setting is defined per target (e.g can be defined under the Email target or the JIRA target, or both).

If set to false (which is the default) then Postee will cache the scan results in its database and will not send to the target a rescan that has the exact same results.
It will sent to th

[2021-04-13 06:01] lorsal commented on #117
Hi @jerbia

Well, we thought ideally we could resend scan results that have not changed after two weeks as a reminder to the application scope owner, ideally with a "warning" message that they should update their image. And then shorten that reminder time frame, e.g. the next one comes after one week, then half a week etc... along those lines.

So then the Delete_Old_Data parameter does not really

[2021-04-14 11:03] jerbia commented on #117
Got it.
In that case I would not count on the Delete_Old_Data flag, as it was built for a different purpose (making sure DB size does not grow infinity).

We can change the "Policy-Show-All" into a "scan-cache-period" parameter, where you can specify how long to cache the scan results. If 0, results are not cached. We can support xH (hours), xD (days) and xY (years).

Would that work?

[2021-04-14 11:29] afdesk opened #118 "Handling of runtime events"
- [x] Add a new endpoint in Postee, /audit, that handles audit events
- [x] Send an event to the Postee plugins
- [x] Filtering events by REGO
- [ ] Create layout for the events
- [ ] Optimize a JSON parsing and test rendering

[2021-04-15 08:26] lorsal commented on #117
Yes, that would be great!

[2021-04-15 08:32] lorsal opened #120 "Remove secrets from Config Map"
The Config Map contains sensitive information (user, password, ...).
These could be moved to secrets that are then referenced in the Config Map.

[2021-04-15 08:33] lorsal opened #121 "Publish binaries along with releases"
Publishing the binaries would simplify the image build process.

[2021-04-15 08:58] lorsal opened #122 "Application Scope Owner error when using Aggregate-Issues-Timeout"
When including the Aggregate-Issues-Timeout flag in the Config Map, Postee throws a "get application scope owners" and says that the webhook does not contain that data. The logs show that the scan results do contain the email address.

Upon removing the Aggregate-Issus-Timeout flag from the Config Map and restarting the Postee pod, the email function works as expected. When the same images are sca

[2021-04-15 10:21] janblahovec opened #123 "Introduce versioning for postee"
Hello everybody,

would it be possible to introduce versioning of postee images - versions e.g. 1.0

Thanks a lot!

Cheers,
Jan

[2021-04-17 18:49] jerbia opened #124 "add rego files to the deployment"

[2021-04-22 11:53] janblahovec opened #126 "Send a MS teams webhook based on Application scope"
Hello,

I have several application scopes in Aquasec. And what I want to achieve -> After scan of concrete image I would like to use ms teams webhook to notify concrete MS teams channel.

Let say I have these application scopes - AS A, AS B, AS C
and these MS teams channels - Channel A, Channel B, Channel C

So after scan of some image which belongs to the AS A I would like to notify the results w

[2021-04-24 18:16] jerbia commented on #126
Hi @janblahovec you can do the following:

1. Create multiple "MS Teams" entries in the cfg.yaml. Each pointing to different URL.
2. For each entry, add the "Policy-OPA" predict and point it to a different REGO file.
3. The REGO file will have a Rego expression that checks that the input payload have a specific application scope owner email.
See below example REGO policy:

package postee
default a

[2021-04-24 18:16] #124 closed

[2021-04-26 14:31] janblahovec commented on #126
Hi @jerbia

Ok thanks for the info, I will try.

I started with settuping simple MS Teams webhook integration (
- name: ms-team
  type: teams
  enable: true
  url: https://... <url to my webhook in ms teams>
  )

and when I scan some image in aquasec (as you described in docu) and check the logs in container, I still got this issue:

(some logs)
2021/04/26 12:44:03 Sending to MS Teams via "ms-team

[2021-04-28 05:17] afdesk commented on #126
Hi @janblahovec, sorry for the  inconvenience.
I'm testing it now.
thanks!

[2021-04-28 05:46] janblahovec commented on #126
Hi @afdesk, never mind.
Thanks a lot for a quick answer!
Cheers,
Jan

[2021-04-28 09:35] afdesk commented on #126
@janblahovec we're tryiing to reproduce your problem. But I've not gotten an error (`EOF`) yet.

We did next:
1. Create a new webhook: [Add an incoming webhook to a Teams channel](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook)
2. My config:
[code]
3. Rescan,

also, is it possible to check an access to your MS Teams instance via `curl`?

[2021-04-28 09:41] janblahovec commented on #126
@afdesk posting message with curl to the teams channel was successfully

I will try to create a new channel and new config with fresh postee deployment.

I will let you know asap.

Jan

[2021-04-28 09:47] afdesk commented on #126
@janblahovec thanks for your help!

[2021-04-28 10:26] janblahovec commented on #126
@afdesk still the same results :(

I created new msteams channel, new connector, copied created url from that connector to the cfg.yaml, then I did pure new deployment of postee
my cfg.yaml

---
- type: common   #  Common settings for all plugins
  AquaServer: https://...url of my server
  Max_DB_Size: 1000   #  Max size of DB. MB. if empty then unlimited
  Delete_Old_Data: 10   #  delete data old

[2021-04-28 10:39] afdesk commented on #126
@janblahovec Oh, i see, thanks. will try again.

[2021-04-28 11:04] afdesk commented on #126
@janblahovec  I have a new idea )
Which postee release do you use? An Image from Docker hub?
thanks

[2021-04-28 11:07] janblahovec commented on #126
@afdesk yes [docker.hub](https://hub.docker.com/layers/aquasec/postee/latest/images/sha256-a6cc4bb14824387323be5a4ee9adbc3f34d6c96b9751d464a7f849cf26d90a61?context=explore) this one.

[2021-04-28 11:08] janblahovec commented on #126
@afdesk and I am using helm chart for the deployment

[2021-04-28 11:16] afdesk commented on #126
@janblahovec does this error pop up for any scans/repositories? could you give me an image name, for example?
Great thanks!

[2021-04-28 11:34] janblahovec commented on #126
@afdesk the same error is for all scans -> some of scans are triggered by me, some are automatically triggered.
our images are stored in AWS ECR.

[2021-04-29 12:11] afdesk commented on #126
Hi @janblahovec
I don't have any ideas yet.
maybe can we schedule a call to understand this issue?
is it possible for you?
thanks!

[2021-04-29 12:16] janblahovec commented on #126
Hi @afdesk, I did not find time to test connection from container. (send curl to msteams)
At first I would like to test it, and if it will not be working, I will write you.
Is it ok for you?
Many thanks

Jan

[2021-04-29 12:31] afdesk commented on #126
@janblahovec sure, I'll wait.
thanks!

[2021-04-30 13:34] janblahovec commented on #126
Hi @afdesk!
I have good news.
I deployed postee to our playground environment and it started working. So probably we have something differently configured in our production environment.

Thanks for your time and support.
Best regards
Jan

[2021-04-30 13:36] afdesk commented on #126
Hi @janblahovec
I'm glad to read it!
Can we close this issue?

[2021-04-30 13:38] janblahovec commented on #126
Hi @afdesk,
please not yet. At first I would like to also test sending notifications to different channels based on application scopes. ( with rego policies)

[2021-05-03 10:37] amitaqua opened #129 "Postee resource limits"
Hi There,
Can you specify what are the Tracee resource limits with regards to CPU and memory?
These limits are needed as we would like to run Tracee on a Kubernetes environment which requires these limits.

Tnx & Regards,

Amit.

[2021-05-03 11:43] jerbia commented on #129
@afdesk can you please look at this? I suggest running Postee with simulated stress (100's of requests per second) and examining its growth in CPU and memory.

[2021-05-03 11:51] afdesk commented on #129
@jerbia sure, I'll do it.

[2021-05-03 13:25] janblahovec commented on #126
Hello @jerbia  and @afdesk !

Thanks a lot for your help.
I tested it and it is working like a charm!
So, I am closing the issue.

Have a nice day.
Best regards,
Jan

[2021-05-03 13:25] #126 closed

[2021-05-04 09:57] afdesk commented on #129
@amitaqua
we recommend to set next limits: 256mb or Memory and 500mi for CPU.

[2021-05-04 10:04] amitaqua commented on #129
@afdesk tnx, what should we set as requests?

[2021-05-04 10:39] afdesk commented on #129
@amitaqua I didn't understand the question a little. do you mean a link for webhooks?

[2021-05-04 11:42] afdesk commented on #129
@amitaqua sorry, my mistake.
we offer to set next `requests`: 128MB for memory and 200Mi for CPU.

[2021-05-04 22:04] amitaqua commented on #129
@afdesk thank you very much.

[2021-05-05 13:19] afdesk commented on #129
@amitaqua no problem. can we close this issue?

[2021-05-05 14:16] amitaqua commented on #129
@afdesk sure - thank you

[2021-05-07 06:10] #129 closed

[2021-05-07 10:56] jerbia commented on #123
@krol3 can you help with this? Once we release a new Postee it needs to be tagged with the release version.

[2021-05-07 10:57] jerbia commented on #122
@afdesk can you look at this issue?

[2021-05-07 12:02] krol3 commented on #123
Yeah I could help with that @jerbia. I will work in the issue

[2021-05-07 12:03] krol3 commented on #121
@jerbia related the issue https://github.com/aquasecurity/postee/issues/123, we could resolve this too.

[2021-05-07 12:05] krol3 commented on #120
@lorsal great point! we will improve that.

[2021-05-07 12:45] jerbia commented on #122
@lorsal can you

[2021-05-07 12:46] #122 closed

[2021-05-10 14:24] janblahovec opened #132 "Send notification when Drift prevention was found"
Hello!

I have one question regarding [Aquasec Drift prevention](https://blog.aquasec.com/cloud-native-security-drift-prevention) and Postee.
Does Postee support this feature? So, basically when someone will try to run some own script in running container, could then Postee send a notification?
If there is the way how to do it, please let me know.

Many thanks.
Have a nice day

Jan

[2021-05-12 05:47] janblahovec commented on #132
Hi @jerbia, thanks a lot for an info.
I am looking forward to next release.
Cheers,
Jan

[2021-05-15 13:09] jerbia commented on #121
Done in release 1.1.2

[2021-05-15 13:09] #121 closed

[2021-05-24 07:09] janblahovec commented on #123
This seems to be resolved,
(https://github.com/aquasecurity/postee/releases/tag/v1.1.4)
so thanks a lot !

Cheers,
Jan

[2021-05-24 07:09] #123 closed

[2021-06-14 12:16] roeeliv opened #141 "Postee db path is relative"
[code]
The above error appears to be related to our DbPath variable which is being used on BoltDB Open operations. The Open operation requires an absolute path, while currently relative paths are used. Relative path/file creations are prone to errors such as the one above, when the relative path provided doesn't exist.

[2021-06-15 06:31] lorsal opened #143 "Customization of scan report emails"
Hi Postee team,

we would like to add some content to the scan report emails that Postee sends out to the application scope owners (explanations, links etc.). Could you point us to where those changes can be made?

Thank you in advance!

[2021-06-29 11:19] guyyakir opened #145 "unable to report to JIRA after scanning images with aqua"
when running postee 1.1.4/ 1.1.3 after Aqua finish the scanning, postee is unable to integrate with JIRA.
the error is "Error: open /server/database/webhooks.db: no such file or directory "

postee seems to not be creating the directories in those images. when running postee latest/1.1.2 everything works fine

[2021-06-30 12:39] janblahovec commented on #132
Hello @jerbia,
Any updates on this issue?
Thanks,
Jan

[2021-06-30 20:46] jerbia commented on #132
We are in the process of merging Postee v2. It's a very big change therefore takes a bit time to finish.

If you want you can try out the v2 branch here:
https://github.com/aquasecurity/postee/tree/v2

[2021-07-01 07:01] janblahovec commented on #132
OK, thanks a lot for the info. Fingers crossed!

Best regards,
Jan

[2021-07-20 17:03] jerbia commented on #143
@lorsal please look at the new Poste 2.0 release.
It now includes an option to customize the output message using Rego templates.

[2021-07-20 17:03] #143 closed

[2021-07-20 17:04] jerbia commented on #132
@janblahovec Postee 2.0 was relesae today. Plese try it out and let us know if there are issues.

[2021-07-20 17:04] #132 closed

[2021-07-20 17:05] jerbia commented on #118
Postee 2.0 was released.

[2021-07-20 17:05] #118 closed

[2021-07-20 17:05] jerbia commented on #103
Postee 2.0 includes a new UI.

[2021-07-20 17:05] #103 closed

[2021-07-20 17:06] jerbia commented on #145
@afdesk can you look at this?

[2021-07-21 11:38] afdesk commented on #145
@guyyakir thanks
I'll test to mean what we lost.
it's really strange bug, because for `1.1.4/ 1.1.3` were changed only goreleaser settings.

[2021-07-21 15:52] afdesk commented on #145
I've reproduced this issue. try to fix it.

[2021-07-21 16:07] afdesk commented on #145
It seems like I missed a creation of the default folder for db during autodeploy.
The hot fix for this issue is using an external volume for db.
[code]

[2021-07-21 16:11] afdesk commented on #141
it seems like this issue is the same as #145.
I missed a creation of the default folder for db during auto deploy.
The hot fix is using an external volume for db folder.
[code]

[2021-08-11 02:48] amitaqua opened #157 "API to update Postee configuration."
One of our customers is looking for a possible REST API to update the Postee configuration on-the-fly.
For example, if the JIRA user is changed (they can not use a dummy email but it must be the user's email address) leave the company, they want to be able to update the JIRA integration using an API.
Would that something can be added to POSTEE?

[2021-08-12 13:51] jerbia commented on #157
@afdesk can you look at this?
I suggest we monitor the cfg.yaml file metadata every minute and reload the settings if change is identified.

[2021-08-12 13:53] jerbia commented on #145
@afdesk is this issue still relevant in postee 2.0? Can we close it?

[2021-08-13 07:50] qhe6 opened #158 "Unable to Assign Issue Assignee to On Premise Jira"
The Ticket are created by Aqua Postee, yet the assignee cannot be assigned.
The assignee info are configured in the cfg.yml

1. **Does Postee support on Premise Jira Server ?**

2. **The User Search api for Jira Cloud is not applicable to Jira Server.**  Which API does
https://developer.atlassian.com/cloud/jira/platform/rest/v2/api-group-user-search/#api-rest-api-2-user-search-query-get
https://do

[2021-08-13 12:47] jerbia opened #159 "Improve readme.md documentation"
Improve the readme.md documentation so that getting started with Postee is easier.

[2021-08-13 14:49] jerbia opened #160 "Change the caching/aggregation to be generic to messages"
Currently the Postee caching and aggregation mechanisms are specific to vulnerability messages.
We would like them to become generic to every input message.

To achieve this we need to do the following changes:

== cfg.yaml ==
1. policy-show-all
Change to "unique-message-fields" which is an array of message fields that are used to identify if message was already handled.

2. Add a new "unique-mess

[2021-08-18 15:26] #158 closed

[2021-08-18 15:26] jerbia commented on #158
@qhe6 can you check the latest Postee "main" branch?

[2021-08-18 15:31] #159 closed

[2021-08-31 07:50] AndreyLevchenko commented on #141
@jerbia @afdesk
The default folder for db is created now
https://github.com/aquasecurity/postee/blob/main/Dockerfile.release#L6
So I think issue can be closed

[2021-08-31 07:54] AndreyLevchenko commented on #145
@guyyakir
Does @afdesk  suggestion work out? Can issue be closed?

[2021-08-31 10:14] AndreyLevchenko opened #167 "Add environment variable to configure path to webhook db"

[2021-08-31 10:47] AndreyLevchenko commented on #157
The [UI app](https://github.com/aquasecurity/postee/blob/main/PosteeUI.md) has REST API to load/save config:
https://github.com/aquasecurity/postee/blob/main/ui/backend/uiserver/server.go#L50-L51
payload is yaml and authentication is basic

[2021-09-09 15:00] janblahovec opened #169 "Clarification (issues) with starting using V2"
Hello there!

Today I started to configure and use postee v2.0.3 and I have some questions for you:
1. I saw that configuration of rego files are a bit different as was in version 1. For example: In my use case I had several rego files, which were checking response from Aquasec image scan. Based on image name (repository) I was sending response to concrete MS teams channel.
Example:

cfg.yaml
[cod

[2021-09-09 22:33] jerbia commented on #169
@janblahovec

1. The conversion looks OK. As for the "OR" statement - it's a bit challenging in REGO. You can either create two separate route entries, each one with one matching rule, or you can create a more complex "regex.match" rule that has a logical "OR" as part of the regexp. I think it will be simpler (and more readable) to create two routing rules.

2. @AndreyLevchenko is this a bug (wher

[2021-09-10 07:12] AndreyLevchenko commented on #169
@janblahovec @jerbia
I suspect it may be linked with property name change. In v2 all properties follow similar name convention so `AquaServer`  becomes `aqua-server`

[2021-09-10 11:39] jerbia commented on #169
That's right - the property names have changed to <all-lower>-<all-lower>.

@janblahovec can you please check and let us know if it works?

[2021-09-10 11:41] jerbia commented on #160
@AndreyLevchenko can you look at this issue?

[2021-09-10 11:42] jerbia commented on #145
Closing the issue for now.

[2021-09-10 11:42] #145 closed

[2021-09-10 11:43] jerbia commented on #72
@ericgomes56 Postee is now a generic message routing module.
Once there will be a webhook support to send host scan results, then Postee will support it automaticall.

Closing the issue for now.

[2021-09-10 11:43] #72 closed

[2021-09-10 11:46] jerbia commented on #73
Hi @nikolakresic please look at Postee v2 - it now has capabilities to create multiple routes.
Each route can be configured to open JIRA ticket for different user based on the message input parameters.

Please look at this new functionality and let us know if additional capabilities are needed.

Closing this issue for now.

[2021-09-10 11:46] #73 closed

[2021-09-13 06:58] janblahovec commented on #169
Hello @jerbia @AndreyLevchenko !

regarding the 1. point - ok I will do probably more routes, but I think ( my personal opinion) this was done nicely in V1. We have teams which are responsible for many projects. So, when it was configured in previous version, I had one rego file per team and there were many rules in each rego file. Then I configured only path to that rego file in cfg.yaml.

2. I h

[2021-09-14 08:37] janblahovec commented on #169
Hello @jerbia @AndreyLevchenko

regarding the wrong url
![image](https://user-images.githubusercontent.com/45173032/133224376-52b8a2bd-0e19-457e-8265-039099b5cb03.png)

I have url https://<URL_TO_MY_AQUASEC>/**#/images/** n Teams notification.
Url is good, but it is pointing to all images, not to concrete scan. E.g. I had url in V1 like this https://<URL_TO_MY_AQUASEC>/**#/images/Converge%20DEV%20

[2021-09-17 10:19] janblahovec opened #171 "Protect Postee resources"
Hello there,
currently we are trying Aquasec SaaS version, so resources as ( server, gateway) are running in Aqua servers, but we want to have Postee running in our server. So, I enabled ingress in our deployment. Everything is running fine, but I have a question - Is there some best practise, how to protect the Postee resource. So only specific IP adresses (outbound adresses from Aqua servers) wi

[2021-09-21 06:00] janblahovec commented on #171
I did this: https://medium.com/@maninder.bindra/using-nginx-ingress-controller-to-restrict-access-by-ip-ip-whitelisting-for-a-service-deployed-to-bd5c86dc66d6

closing issue

[2021-09-21 06:01] #171 closed

[2021-09-21 13:56] AndreyLevchenko commented on #169
@janblahovec
I added my fixes to `main` branch. Can you check if issue is resolved?

[2021-09-23 07:38] janblahovec commented on #169
@AndreyLevchenko
So, shall I build an image from `main` branch?

[2021-09-23 11:08] AndreyLevchenko commented on #169
@janblahovec
We would appreciate if you could test the changes before release.
Please use `Dockerfile` to build Postee image.

Also after discussion with @jerbia we decided to add support for opa files. I will create separate issue for that

[2021-09-23 11:10] AndreyLevchenko opened #175 "Add support for rego files to filter input messages"
@krol3 , @jerbia
Like Postee version 1 has

[2021-09-23 14:21] janblahovec commented on #169
@AndreyLevchenko
Hello. I tried this.. and it is working as it should be.
Please release an official version and then let me know.
Thanks.
BR,
Jan

[2021-09-24 17:17] krol3 opened #176 "button test in input rego rule"
It will be a nice feature, to put a button for testing the REGO rule in the postee-UI

See the screenshot

<img width="890" alt="Screen Shot 2021-09-24 at 14 15 41" src="https://user-images.githubusercontent.com/8355621/134715089-53314610-3323-4194-8c04-ff1e3474b151.png">

[2021-09-26 20:09] krol3 commented on #175
@AndreyLevchenko  please validate this PR https://github.com/aquasecurity/postee/pull/168, Volume for rego-templates

[2021-10-05 23:10] krol3 opened #179 "liveness and readiness to the postee-ui"
@AndreyLevchenko do we have an endpoint similar to /ping to use in the postee-ui ?

[2021-10-05 23:13] krol3 commented on #157
@AndreyLevchenko do we have the API documentation somewhere? or how to use it?

[2021-10-07 04:13] NSSG-WEI opened #181 "Postee Integration with Jira Software"
Hi community,

I am doing an integration testing btw Postee and Jira Software and the objective is to send the image scanned result to Jira.

### Environment Info
- Aqua Web and Aqua Postee are deployed in OpenShift OCP v4.6
- Jira Software (Data Center Edition) v8.19.0 (on-prem)

All mentioned components are successfully deployed and has configured the Aqua Server - Image Scan Results Webhook to

[2021-10-14 15:49] AndreyLevchenko commented on #181
Hi @NSSG-WEI
I was able to re-produce issue. On-premise Jira handles PAT a bit different way. I'm working on fix

[2021-10-15 01:14] NSSG-WEI commented on #181
@AndreyLevchenko ,
Thanks for the confirmation on the bug and working on the fix.

Besides fixing the handling of PAT in postee, is there any way to handle the clear text password in the cfg.yaml?

[2021-10-15 13:30] janblahovec commented on #169
@AndreyLevchenko @jerbia Any updates here?

[2021-10-18 11:46] raesene opened #183 "Route docs Issue"
while configuring Tracee and Postee, I noticed that if I follow the docs at https://github.com/aquasecurity/postee/blob/main/docs/routes.md and use this for my route

[code]
I get errors

[code]

removing the `input:` from the start fixes it, should we updated the docs for that?

[2021-10-18 19:02] krol3 commented on #183
@jerbia  we could create a documentation page about cfg.yaml.
When we use the config file, we will need `input:`. https://github.com/aquasecurity/postee/blob/main/cfg.yaml#L17
When we use the postee-UI we don't need it. I think so.

@raesene  could you confirm if you use the postee-UI or the cfg.yaml ?

[2021-10-22 07:39] Git-Kyro opened #184 "How to match field policy_name in the scan result in routes section"
I have question about cfg.yaml，
how to match policy_name as a condition, i tried contains(input.image_assurance_results.policy_failures.policy_name, "test") or regex.match("test", input.image_assurance_results), but not successful match,  please let me know how to do that, thanks.

cfg.yaml
[code]

scan result:
[code]

[2021-10-25 06:47] #184 closed, assigned to nobody

[2021-11-01 15:24] AndreyLevchenko commented on #179
@krol3
I somehow missed it.
No there is no ping API in UI
should I add it?

[2021-11-02 04:07] NSSG-WEI commented on #181
@AndreyLevchenko ,

For the fix for on-prem Jira handling PAT, will it be released soon?

[2021-11-02 11:52] #160 closed

[2021-11-03 07:48] AndreyLevchenko commented on #181
Hi @NSSG-WEI
Plan is to release this or next week

[2021-11-03 07:53] AndreyLevchenko commented on #183
@jerbia, @krol3, @raesene
from what I can understand `input: ` is part of yaml structure. UI parses yaml so everything from yaml properties goes to corresponding fields

[2021-11-03 10:25] AndreyLevchenko opened #189 "Document environment variable usage"
seems postee has extended support for environment variables.
It needs to be documented.
Also it may help with #120

[2021-11-04 11:01] AndreyLevchenko opened #191 "Output errors are not handled properly"
https://github.com/aquasecurity/postee/blob/main/msgservice/msghandling.go#L111

[2021-11-05 06:51] #191 closed

[2021-11-05 06:51] AndreyLevchenko commented on #191
#192

[2021-11-10 09:07] #183 closed

[2021-11-11 06:59] #189 closed

[2021-11-11 06:59] #179 closed

[2021-11-11 10:12] DmitriyLewen opened #200 "fix build docker postee-ui"

[2021-11-11 11:14] #200 closed

[2021-11-17 03:42] NSSG-WEI commented on #181
@AndreyLevchenko,

Based on the feedback previously, the fix for on-prem Jira handing PAT, is it already released?

[2021-11-18 01:19] krol3 opened #203 "Report with encoding text in the report"
In the detail of the email report, I can observe encoding text:

`See more: [Docker Hub/alpine%3A3.9.6]Docker Hub/alpine%3A3.9.6`

![Screen Shot 2021-11-17 at 22 18 36](https://user-images.githubusercontent.com/8355621/142333413-c9e08776-3ba2-4e1e-bd89-f80520411bb5.png)

Same case using MsTeams

![Screen Shot 2021-11-18 at 09 48 47](https://user-images.githubusercontent.com/8355621/142418293-f7a2f

[2021-11-18 10:50] janblahovec commented on #132
Hello @jerbia!
I have one question - is this functionality implemented?
Is there any sample/tutorial what needs to be configured in Postee? I would like to receive notification to my MS Teams channel when this situation happens.
Many thanks!
Cheers,
Jan

[2021-11-18 10:50] janblahovec commented on #132
/open

[2021-11-18 10:55] janblahovec opened #205 "Aquasec Drift Prevention - question"
Hello @jerbia!
I have one question - is this functionality implemented in Postee V2?
Is there any sample/tutorial what needs to be configured in Postee? I would like to receive notification to my MS Teams channel when this situation happens.
Many thanks!
Cheers,
Jan

see: https://github.com/aquasecurity/postee/issues/132

[2021-11-18 13:59] krol3 commented on #181
Yes! @NSSG-WEI  could you test it? is it resolved?

[2021-11-19 09:55] NSSG-WEI commented on #181
I have tested, the mentioned issue is resolved.

I realized the postee image (Able to handle to PAT) is not yet push into the aquasec registry,  will it be pushed to aquasec registry eventually?
- As of current, I built the postee image based on the following docker file:
https://github.com/aquasecurity/postee/blob/main/Dockerfile

[2021-11-20 17:19] jerbia commented on #205
Please see the following:

https://github.com/aquasecurity/postee/blob/main/docs/routes.md#route-drift-prevention-messages

[2021-11-20 17:28] jerbia commented on #205
I've also created a sample cfg file for configuration of MS Teams for Drift Prevention messages:
https://github.com/aquasecurity/postee/blob/main/docs/examples/drift-teams.yaml

[2021-11-20 17:28] #205 closed

[2021-11-20 17:29] jerbia commented on #203
@AndreyLevchenko  @afdesk  can you look at this?

[2021-11-20 17:30] jerbia commented on #181
Done. We've just published Postee release 2.0.6

[2021-11-20 17:30] #181 closed

[2021-11-20 17:30] jerbia commented on #176
Part of release 2.0.6

[2021-11-20 17:30] #176 closed

[2021-11-20 17:31] jerbia commented on #175
Part of release 2.0.6

[2021-11-20 17:31] #175 closed

[2021-11-20 17:31] jerbia commented on #167
Part of release 2.0.6

[2021-11-20 17:31] #167 closed

[2021-11-22 05:40] AndreyLevchenko commented on #203
Hi @krol3
What type of template are you using?

[2021-11-30 23:22] krol3 commented on #203
https://github.com/aquasecurity/postee/blob/main/deploy/kubernetes/postee.yaml#L39

![Screen Shot 2021-11-30 at 20 21 15](https://user-images.githubusercontent.com/8355621/144143802-3c3d5c20-1da9-49db-bac4-7d640bf094f3.png)

[2021-12-08 07:54] AndreyLevchenko opened #209 "fix Trivy alerts"

[2021-12-08 08:11] AndreyLevchenko opened #210 "Better error messages"
for cases when output and template formats mismatch

[2021-12-10 09:36] #209 closed

[2021-12-13 17:05] andrestoll opened #216 "Ignore acknowledged vulnerabilities"
Filter to ignore vulnerabilities for digests that have already been acknowledged

[2021-12-13 23:22] jerbia commented on #216
Hi Andre, can you elaborate more on the use case?

[2021-12-14 12:48] andrestoll commented on #216
in a similar fashion to the _unique-message-props_, it would be beneficial to have a configuration which allows to opt out of receiving scanning messages for images where the vulnerabilities are already acknowledge.

Current behaviour (as understood):
Without _unique-message-props_ scanning messages are sent out if vulnerabilities exist which meets the requirements (severity, fix available, etc)

[2021-12-23 23:05] krol3 opened #224 "Add TLS support for postee-ui"
Currently in the postee-UI only support http using the 8000 port. we could support TLS too.

[2022-01-19 19:35] poggenpower opened #235 "postee-ui build is failing"
when starting a postee stack via "docker compose up" the build of postee-ui is failing:

#38 10.30 go: github.com/aquasecurity/postee@v1.1.5-0.20211210093651-b669cce16033 requires
#38 10.30 	github.com/open-policy-agent/opa@v0.35.0 requires
#38 10.30 	github.com/dgraph-io/badger/v3@v3.2103.2 requires
#38 10.30 	golang.org/x/net@v0.0.0-20201021035429-f5854403a974 requires
#38 10.30 	golang.org/x/cr

[2022-01-19 20:24] poggenpower commented on #235
Seems using the latest version of `github.com/open-policy-agent/opa@v0.36.1` fixes the issue

[2022-01-19 22:25] poggenpower opened #236 "postee-ui SMTP port not recognized"
If I configure a SMTP output via postee-ui and use the test function the test runs via port 25 regardless which port is given into the "port" field of the config dialogue.
In the case above I have used the common port 587, but the communication went out trough port 25

23:23:09.418069 IP 10.252.248.175.59663 > 85.214.223.118.25: Flags [S], seq 2249252255, win 65535, options [mss 1380,nop,wscale 6,

[2022-01-20 06:47] AndreyLevchenko commented on #235
Hi Tomas
Thank you for your investigation.
We've got open PR for fixing it (#232)
I'm going to handle the issue today

[2022-01-20 11:02] AndreyLevchenko commented on #235
@poggenpower
I've merged #234 which can resolve issue. Please test if it resolves issue for you and let me know results

Thanks
Andrey

[2022-01-21 03:13] simar7 opened #237 "feature: Use sane timeouts for HTTP Client"
Currently webhook output uses a default HTTP Client which doesn't have a timeout defined: https://github.com/aquasecurity/postee/blob/main/outputs/webhook.go#L32

This means no timeout and blocking calls. We should set this to a sane value.

[2022-01-21 09:55] poggenpower opened #239 "Splunk output: unexpected end of JSON input"
The Splunk output is not working. Is it not able to parse the JSON input.

To reproduce either try to create a Splunk output in postee-ui and use the test function or generate any Splunk output in a config file and send Events from aqua.
This issue seems to be in the input parsing side. It occurs regardless if you have a valid Splunk service available or not. Postee stops before any connection is

[2022-01-24 13:21] AquaOms opened #241 "Authorization issue with email integration"
After configuring the postee integration to email(config file contents below), I am thrown an error.

/# Routes are used to define how to handle an incoming message
routes:
- name: my-email
  outputs: [ my-email ]
  template: vuls-html
......
- name: my-email
  type: email
  enable: true
  user: # Mandatory: SMTP user name (e.g. johndoe@gmail.com)
  password: # Mandatory: SMTP password
  host: 10.

[2022-01-26 09:54] DmitriyLewen commented on #237
Hello @simar7
Thank you for your issue!
It is good idea!
I will do it soon.

Regards, Dmitriy

[2022-01-26 20:15] simar7 commented on #241
Hi @AndreyLevchenko could for take a look at this first? This was reported by a customer so it is higher priority.

[2022-01-27 04:45] simar7 commented on #241
My initial reaction to this is that you will need to use an App-Specific password for Gmail in this case. AFAIK Google doesn't allow AUTH with basic username/password but instead needs OAuth.

You can find more details here https://support.google.com/mail/answer/185833#zippy=%2Cwhy-you-may-need-an-app-password%2Cfix-problems-with-microsoft-outlook

Do we currently support OAuth @AndreyLevchenko?

[2022-01-27 17:11] lorsal opened #246 "vuls-html.rego: Error while evaluating input: property result is not found"
We are upgrading from Postee v1 to v2 with the goal to send customized scan result emails (with some additional information such as link to wiki etc.) to application teams.
While the legacy, raw-html and vuls-slack templates work and emails are sent out, we face above mentioned error when using vuls-html. We are new to rego and think this is the right template as a starting point for our customize

[2022-01-27 23:36] simar7 commented on #241
In addition @AquaOms - you mentioned that this is within the trusted network. What happens if you omit the username and password fields from the config? From the output it just seems like the server doesn't expect a username/password field.

[2022-01-27 23:43] simar7 commented on #241
If possible knowing which relay was being used would help as well so we can further read up on the usage of it.

[2022-01-28 09:08] DmitriyLewen commented on #246
Hi @lorsal
Thanks for your issue.
I cannot reproduce this error, now.
You can say:

- What version of "postee" are you using?
- Do you have changes in the vuln-html file?

Regards, Dmitriy

[2022-01-28 10:18] lorsal commented on #246
Hi @DmitriyLewen , thank you for your quick reply.
We are using Postee v2.0.6 and made no changes to the vuls-html file.

Best regards

[2022-01-28 10:25] lorsal commented on #246
This is the file from the pod
[vuls-html.rego.txt](https://github.com/aquasecurity/postee/files/7957858/vuls-html.rego.txt)
.

[2022-01-28 12:12] AndreyLevchenko commented on #246
Hi @lorsal
Is AquaServer configured to send audit messages to Postee? `vuls-html` template only supports scan results, if audit message is supplied to vulnerabilities template it may produce error like I see in logs you sent (because of different json structure).
Another cause can be linked with AquaServer url. We have open PR #208. So If url is not specified I suggest to set some value and re-tes

[2022-01-28 12:50] lorsal commented on #246
Hi @AndreyLevchenko
I filled in the AquaServer URL, but the result is the same (all works except vuls-html).
As for the server sending audit messages to Postee, I am not sure what you mean. We have configured the server to send scan results to Postee under Settings -> Image Scan Results Webhook as per the documentation. To test Postee v2 configs, we scan an image and then the result is sent. resul

[2022-01-28 13:30] lorsal commented on #246
What would also help us is an example output of what the policy should produce.

[2022-01-28 16:17] #246 closed

[2022-01-28 16:17] #239 closed

[2022-01-29 00:58] simar7 commented on #246
hi @lorsal - I'm just starting to look into Postee recently so I'll try to chime in - Looks like @AndreyLevchenko just merged a PR that looks to fix the issue you're facing.

While we don't have a new release that would contain that bug fix just yet, is it possible for you to try building Postee from source (pulling the git repo and building) to see if it has helped you?

I agree. This is an area

[2022-01-31 07:28] janblahovec opened #253 "Aqua image scan result - running image"
Hello there!

I would like to ask you one thing regarding result JSON, which is input for Postee (json which is generated after image scan in Aquasec) .
Is there a possibility / exist there a way how to know, that image which was scanned is currently running in cluster?

My idea is - send notification of scans to users for images which are currently running in the cluster.

Many thanks!

Cheers,
J

[2022-01-31 08:29] MalcolmCyber opened #254 "Webhook - additional fields"
At present, it seems that the webhook output only provides a small subset of the data found from the vulnerability e.g.:
[code]
Is it possible to add the following keys and values to the for each vulnerability found..
*	Referenced By
*	Vendor CVSS score (is CVSS v2 on the example, I’m guessing other data may present as CVSS v3)
*	Vendor CVSS severity (is CVSS v2 on the example, I’m guessing other

[2022-01-31 10:36] AquaOms commented on #241
I am checking, I will get back to you soon.

FYI - I have opened this issue on behalf of a different user and i am waiting for their response.

[2022-01-31 10:43] AquaOms opened #255 "Jira integration with Postee failing with error: Failed to init issue: key Priority is not found in the list of fields"
Jira integration with Postee failing with error: Failed to init issue: key Priority is not found in the list of fields, however the "priority" key is on the list. please see config and logs below:

## Please be aware that I have censored some information due to security.

#### Routes are used to define how to handle an incoming message
routes:
- name: my-jira
  outputs: [ my-jira ]
  template: leg

[2022-01-31 12:27] AquaOms commented on #241
Following is the customers response to the questions:

"I used 10.26.95.5 port 25 open relay. User name and password empty.

I configure postee:
# Routes are used to define how to handle an incoming message
routes:
- name: my-email
  outputs: [ my-email ]
  template: vuls-html
......
- name: my-email
  type: email
  enable: true
  user: # Mandatory: SMTP user name (e.g. johndoe@gmail.com)
  passwo

[2022-01-31 15:54] YuviGold opened #256 "Upload a transparent Postee logo"
The https://github.com/aquasecurity/postee/blob/main/postee.jpeg logo that's shown in the [README](https://github.com/aquasecurity/postee/blob/main/README.md) has a white background. For browsers that have a dark mode, it looks a bit weird.

![Screenshot from 2022-01-31 17-49-49](https://user-images.githubusercontent.com/29873449/151827065-e88606da-ab51-475a-84e5-591778a80c41.png)

I was trying to

[2022-01-31 17:31] tomyweiss opened #257 "Evaluate rego rule once for every route"
At the current implementation, we evaluate the rego rule match for every output in the given rule - the output is not relevant for the rule matching process.

[2022-02-01 00:01] simar7 commented on #255
@DmitriyLewen could you take a look at this?

[2022-02-01 01:20] simar7 commented on #241
As discussed offline - I think this is a bug with how Postee handles auth in case of mx server present or otherwise. If a server does not support auth, today the only way to send an email is via using mx-server. The following example could work:

[code]

As you can see the user/pass fields are not used. I'm not sure why the logic is written this way but to me it looks like a bug. One should be abl

[2022-02-01 06:24] simar7 commented on #254
Hi @MalcolmCyber - it should be possible, what use case do you have for  this?

[2022-02-01 06:26] simar7 commented on #253
hi @janblahovec - thanks for the your question. Are you looking to make decision (send notification to users) based on the scans results that Postee receives?

[2022-02-01 10:11] DmitriyLewen commented on #255
Hello @simar7 , @AquaOms
I checked this problem.
Postee does not support Russian language jira.
Postee uses English field names that do not match Russian names.

Regards, Dmitriy

[2022-02-01 10:32] lorsal commented on #246
hi @simar7
Thank you for your feedback. We have not yet used the Aqua fix, but have come up with a very similar one (also last friday), so the issue is resolved for us.

[2022-02-01 10:34] lorsal opened #261 "Customization of scan report email subject"
We use Postee v2 to send scan report emails to application teams and would like to customize the email subject line. Is that doable?
Thank you.

[2022-02-01 10:39] AndreyLevchenko commented on #255
we should call an API to get jira issue fields config first and then pick configured field names to account localization

[2022-02-01 10:46] #257 closed

[2022-02-01 12:12] janblahovec commented on #253
Hi @simar7, yes

[2022-02-01 13:33] afdesk commented on #241
@simar7
PR #75 fixed the issue #60.
It wasn't a way to use SMTP without the user/pass fields, it was an attempt to use `postee` without SMTP server, to send emails to domain's MX server directly.

[2022-02-01 20:49] simar7 commented on #253
Good question! We're actually working on a feature right now that should allow a security practitioner like you to bring in outputs that are customizable.

The feature is called Postee Actions and should allow you to bring in configurable outputs such as shell scripts or custom http calls that can be triggered in a use case like yours (scan an image and take an action)

If you'd like to give feedb

[2022-02-01 22:43] simar7 commented on #261
hi @lorsal - today the subject is the `content` key in the event that Postee receives and is not user configurable.

Is this an urgent need for you? If so we can look into adding it as a feature.

[2022-02-01 22:45] simar7 commented on #256
hi @YuviGold - thanks for the report, we'll look into it.

[2022-02-01 22:48] simar7 commented on #255
Thanks @DmitriyLewen, I wasn't aware of the difference in the field names when it comes to localization of JIRA.

@AndreyLevchenko - that sounds like a good idea. Since this currently prevents the user from using Postee, could you work on it?

[2022-02-02 05:49] AndreyLevchenko commented on #261
If Postee v2 is used with Rego templates then title can be customized
for vul_html template it's configured here:
https://github.com/aquasecurity/postee/blob/main/rego-templates/vuls-html.rego#L164

[2022-02-02 07:20] janblahovec commented on #253
Or maybe.. I want to send results of a scan to some user (MS TEAMS channel) only for scanned image, which is currently running in cluster.
I want to somehow have this information in that result json/ or know based on which argument/what I know that this concrete scanned image is currently running in the cluster

Thanks

[2022-02-02 15:36] poggenpower opened #264 "PosteeUI depends on old postee version v1.1.5-0.20211210093651-b669cce16033"
https://github.com/aquasecurity/postee/blob/main/ui/backend/go.mod#L6

PosteeUI should depend on/require latest postee version to take advantages of latest changes and bugfixes.

Versioning of postee itself seems to be out off order.

[code]

[2022-02-02 17:06] poggenpower opened #265 "update go version in docker files and posteeUi go.mod"
From https://github.com/aquasecurity/postee/blob/main/go.mod#L3 postee requires go version 1.17, but
https://github.com/aquasecurity/postee/blob/main/Dockerfile#L1,
https://github.com/aquasecurity/postee/blob/main/Dockerfile.ui#L9 and
https://github.com/aquasecurity/postee/blob/main/ui/backend/go.mod#L3

pointing to go 1.16 or older.

[2022-02-02 20:26] #235 closed

[2022-02-02 20:37] poggenpower opened #266 "Splunk Can't test output: invalid character '<' looking for beginning of value"
Similar to https://github.com/aquasecurity/postee/issues/239
there is still an issue to send data to splunk.
There are still no packets sent out to a configured splunk server.
if testing via posteeui I get following logs:
[code]

if testing with real data and sending the output with the same template to stdout if get following:
[code]
in both cases there is no network packet leaving postee.

[2022-02-02 21:35] simar7 commented on #265
thanks for the catch @poggenpower - we'll fix it soon

[2022-02-02 21:47] simar7 commented on #264
Good catch - we should pin it to the next released version unless there is some other reason to keep it pinned at this? cc @AndreyLevchenko / @afdesk ?

[2022-02-02 21:51] simar7 commented on #261
thanks @AndreyLevchenko - so just to clarify you're saying that @lorsal could define a custom template like the one above with a different title?

[2022-02-02 21:52] simar7 commented on #266
To me this looks like a bug. Could you share what input are you passing in as the event?

[2022-02-02 23:01] poggenpower commented on #266
Sorry, running postee in via compose, but this has the issue that postee never gets refreshed even if you rebuild, because `/server` get mounted at runtime and this contains the the postee binary, from the time the mount was created the first time.

[2022-02-02 23:01] #266 closed

[2022-02-02 23:08] poggenpower opened #268 "Running with docker compose won't refresh postee"
when running  postee and posteeui via docker compose, the `/server` path get mounted to a persistent volume.
As the postee binary lives in this directory it won't get updated if you build a new version. Even if your new container contains the new postee binary, the mount of `/server` at runtime will hide the updated version and the postee version placed in the volume at the first creation of the v

[2022-02-03 07:31] lorsal commented on #261
@AndreyLevchenko @simar7 Yes, that is what I was looking for, thanks guys.

[2022-02-03 07:31] #261 closed

[2022-02-03 14:47] lorsal opened #269 "Access environment variables in rego template"
I tried accessing environment variables via opa.runtime(), but that does not work in Postee, I assume because opa is used as go library? Is there another way to access env variables?

[2022-02-03 14:58] lorsal opened #270 "vuls-html.rego does not evaluate whether or not malware/sensitive data was found, only whether it was scanned for"
I believe the following code in vuls-html.rego is supposed to evaluate whether malware or sensitive data were found:

by_flag(
     "Malware found: Yes",
     "Malware found: No",
     input.scan_options.scan_malware #reflects current logic
    ),
	by_flag(
	 "Sensitive data found: Yes",
     "Sensitive data found: No",
     input.scan_options.scan_sensitive_data #reflects current logic
	),

It se

[2022-02-04 01:16] simar7 commented on #269
hi @lorsal could you explain what's your use case with an example? If you're trying to use `opa.runtime()` within your template I don't see why using the Go library should make a difference.

An example is: `opa.runtime()["env"]["MYVAR"]` to access  `MYVAR`

[2022-02-04 01:51] simar7 commented on #270
The definition of `by_flag` is here: https://github.com/aquasecurity/postee/blob/0748851b7b33a93fb1e9fbe7dc74343e85ff1009/rego-templates/common/common.rego#L15-L20

It should evaluate to a or b depending upon if the result of the boolean flag was true (set to a), false (set to b). https://play.openpolicyagent.org/p/BbuYjeHMhf

[2022-02-04 01:52] simar7 commented on #268
thanks - if you'd like to submit a PR we can take a look at it.

[2022-02-04 08:52] lorsal commented on #270
Hi @simar7
yes, its just that the property input.scan_options.scan_sensitive_data/scan_malware is true if the corresponding scanning option is activated in the GUI (see screenshot). This property is not suitable to check whether or not there was, in fact, sensitive data or malware found. But that seems to be the purpose since it says "Sensitive data/Malware found: Yes/No"
When deactivating the opt

[2022-02-04 09:12] lorsal commented on #269
Hi @simar7
We would like to include additional information via environment variables, e.g. a grace period for image compliance and the cluster name that the image is running on. This information could then be set at one place in the source code before rollout.
Using my rego templatel, I am able to access environment variables on my local machine with opa.runtime(), but it does not work in the Post

[2022-02-04 09:35] lorsal commented on #269
On my local machine, I used opa eval for testing.

[2022-02-04 16:11] poggenpower commented on #264
Please review https://github.com/aquasecurity/postee/pull/272

[2022-02-04 16:13] poggenpower commented on #264
Need this change first to post a fix for https://github.com/aquasecurity/postee/issues/268

[2022-02-04 17:08] velizmiguel opened #273 "Few Errors on Kubernetes installation."
Hello all, i tried running postee on my kubernetes cluster following the steps here: https://github.com/aquasecurity/postee/tree/main/deploy/kubernetes

And im getting a few errors:

- Anytime i try changing something using the UI i get: Unauthorized
- The UI shows the changes but when i try them the backend still pointing to old config.
- Sometimes i get the following error in the ui:  `open /ser

[2022-02-04 17:42] #265 closed

[2022-02-04 23:40] simar7 commented on #269
hi @lorsal thanks for your patience. I just validated that indeed this is a limitation of the OPA Go SDK as I couldn't manage to run it either locally. Someone had already asked about this in the OPA Slack channel https://openpolicyagent.slack.com/archives/CBR63TK2A/p1637682347153700 - it is not supported by the Go SDK today.

I've asked the OPA folks on Slack to see if I can contribute this chang

[2022-02-05 00:22] simar7 commented on #241
hi @AquaOms - we've just released https://github.com/aquasecurity/postee/releases/tag/v2.0.8 which should include a couple of fixes for this issue. Let us know by reopening this issue if the problem persists. thanks!

[2022-02-05 00:22] #241 closed

[2022-02-05 00:36] simar7 commented on #270
hi @lorsal - I'm not too familiar with the UI integration but I will ask internally and get back to you on this. Thanks.

[2022-02-05 11:55] krol3 commented on #273
Hi @velizmiguel !  I will review this issue about manifest. Also, the helm chart was updated recently.

[2022-02-07 11:47] sandip4aqua opened #283 "Postee customized integration with SMTP Relay Service"
We would require below feature enhancement for Postee
-->Integration with custom smtp replay service by providing hostname and port number
-->no user authentication.

[2022-02-07 22:00] simar7 commented on #283
hi @sandip4aqua - this already exists today https://github.com/aquasecurity/postee/blob/main/cfg.yaml#L74-L89

[2022-02-10 08:04] MalcolmCyber commented on #254
Hi @simar7  - we're looking to create a central dashboard of all our apps and platforms for senior execs by sending data from Aqua to an internal analytics platform. These fields are what the execs are interested in and currently can't be consumed via the webhook option

[2022-02-10 09:51] lorsal commented on #270
hi @simar7 thank you. We have adapted the template to address this, so it is solved for us.

[2022-02-10 09:51] #270 closed

[2022-02-11 23:07] simar7 commented on #269
hi @lorsal - looks like access to `opa.runtime()` was merged in OPA v0.36. I've bumped up our OPA dependency to that and in the next release of Postee this should be available.

[2022-02-12 00:22] simar7 commented on #269
hi @lorsal - I just released https://github.com/aquasecurity/postee/releases/tag/v2.1.0 could you try it out?

[2022-02-12 19:46] krol3 commented on #273
@velizmiguel The PR was merged! any problem about this issue send a message here.

[2022-02-12 19:46] #273 closed

[2022-02-18 05:22] #203 closed

[2022-02-28 19:46] simar7 commented on #269
v2.2.0https://github.com/aquasecurity/postee/releases/tag/v2.2.0  is now released which has an updated OPA - please let us know if you're still facing an issue by reopening.  Thanks.

[2022-02-28 19:46] #269 closed

[2022-02-28 19:47] simar7 commented on #264
Closing as https://github.com/aquasecurity/postee/pull/272 is merged

[2022-02-28 19:47] #264 closed

[2022-02-28 19:48] simar7 commented on #256
Logo is now updated

[2022-02-28 19:48] #256 closed

[2022-02-28 19:48] simar7 commented on #283
Please reopen if issue is still unresolved. Thanks.

[2022-02-28 19:48] #283 closed

[2022-02-28 19:49] simar7 commented on #255
hi @AquaOms - the new v2.2.0 release should include support for non English JIRA's. Please re-open or reach out if you're still facing an issue. Thanks!

[2022-02-28 19:49] #255 closed

[2022-02-28 19:53] #141 closed

[2022-02-28 19:57] simar7 commented on #253
IIUC, you could create a custom rego template for your use case to include the information you want - an example: https://github.com/aquasecurity/postee/blob/main/rego-templates/example/audit-html.rego

Docs: https://github.com/aquasecurity/postee#customizing-templates

[2022-02-28 19:58] simar7 commented on #268
can we close this now @poggenpower?

[2022-03-03 10:49] janblahovec opened #311 "Possibility to have various log levels"
Hello dear Postee team,
I would like to ask you if you plan in near future introduce log levels into Postee helm chart.
E.g.: DEBUG, INFO, WARN, ERROR.

Thanks a lot
Best regards,
Jan

[2022-03-03 23:50] simar7 commented on #311
hi @janblahovec - we currently don't have that on our radar but I'll be happy to review your PR if you decided to work on it.

[2022-03-09 07:50] lorsal opened #315 "Identical scan results are resent before unique-message-timeout"
## Description

We configured Postee to not resend old scan results via the digest as unique-message-prop and a timeout of several days depending on the route. The problem is that this only works for a few hours, after which old results are resent again. The configured time period of several days is ignored.

## What did you expect to happen?
Resending of old results only after elapse of configure

[2022-03-09 08:00] lorsal commented on #315
Image amount is around 80 with db size of around 50MB.

[2022-03-09 22:34] simar7 commented on #315
thanks @lorsal for the report - @AndreyLevchenko / @DmitriyLewen - could you look into it?

[2022-03-09 22:36] #237 closed

[2022-03-10 07:16] DmitriyLewen commented on #315
Hello @lorsal
Thank you for your report!
I will try to reproduce your problem and write later.

Regards, Dmitriy

[2022-03-11 04:28] DmitriyLewen commented on #315
Hello @lorsal
We have the mistake in max-db-size field.
Can you change the max-db-size field in your config file to 0 and check how postee works?

[2022-03-15 18:20] simar7 commented on #268
Please reopen if needed.

[2022-03-15 18:20] #268 closed

[2022-03-15 18:21] simar7 commented on #100
Closed via https://github.com/aquasecurity/postee/pull/137

[2022-03-15 18:21] #100 closed

[2022-03-15 18:22] simar7 commented on #210
Closed via https://github.com/aquasecurity/postee/pull/217

[2022-03-24 11:35] sandip2503 opened #333 "Filtering Severity for Slack"
One of our customer wants filtering and sending only criticals and high severity compliance on slack channel. Can you please help.

[2022-03-24 12:45] DmitriyLewen commented on #333
Hello @sandip2503
Tnanks for your interest to Postee!

Routes field in config file has `input` and `input-files` fields. Use these fields for filter message. You can create new [REGO rule](https://www.openpolicyagent.org/docs/v0.37.2/policy-language/) or use examples from `rego-filters` folder. [Read more about using REGO rules for Postee here. ](https://github.com/aquasecurity/postee/tree/main#ro

[2022-03-24 22:36] simar7 commented on #253
Please let us know if you still require help by reopening this issue. Thanks!

[2022-03-24 22:36] #253 closed

[2022-03-24 22:41] simar7 opened #335 "docs: Improve Action/Output documentation"
User Story:

As a Postee user, I should be able to read a one page document (Markdown) about Postee Actions / Outputs, so that I can configure them easily without going through long config.yaml files for reading the code.

The one page document should cover the following:
1. Clear definition of the Postee Action / Output

2. All options explained in a tabular manner.

3. A quick Postee config.yaml

[2022-03-31 19:16] simar7 opened #342 "UI Endpoint to display incoming events"
Acceptance Criteria:
1. Postee UI should expose a /events endpoint that can show all the incoming events that it receives.
2. The endpoint itself could just have at the bare minimum, raw JSON output of the incoming events (or string, it if a string event)
3. The output should be in a log format. Standard go log package output is fine.

[code]

[2022-04-06 06:42] jerbia commented on #99
@AndreyLevchenko @afdesk did we add the Nexus IQ integration?

[2022-04-06 06:53] AndreyLevchenko commented on #99
Yes it's implemented and merged

[2022-04-08 09:57] AnaisUrlichs opened #348 "Postee Kubernetes installation not working"
## Description

I have tried to install the Helm Chart but I think it is missing several resources e.g. it is currently not installing the postee deployment but also other resources that are in the `pure` Kubernertes manifests are not getting installed.

So I tried to follow this README and install postee directly through the YAML
https://github.com/aquasecurity/postee/blob/main/deploy/kubernetes/

[2022-04-08 18:18] simar7 commented on #348
@krol3 could you look into this?

[2022-04-11 12:47] krol3 commented on #348
@simar7 @AnaisUrlichs working in this issue with this PR https://github.com/aquasecurity/postee/pull/349

[2022-04-13 02:06] krol3 commented on #348
@AnaisUrlichs I tested the [manifest](https://github.com/aquasecurity/postee/blob/main/deploy/kubernetes/postee.yaml) and works for me in a eks and kind cluster. Could you give more details about the k8s environment and version?

<img width="1133" alt="Screen Shot 2022-04-12 at 20 51 07" src="https://user-images.githubusercontent.com/8355621/163083740-60626461-df0e-43ce-839f-c85a94fb2b15.png">

[2022-04-13 14:27] krol3 opened #354 "Running locally postee using cfg.yaml with Tenant suffix"
## Description

Following the instructions of https://github.com/aquasecurity/postee#from-source
cfg.yaml: `max-db-size: 1000MB `
[code]

## What did you expect to happen?

Removing the suffix value in Tenant, it works as expected.

cfg.yaml: `max-db-size: 1000 `

[code]

## Additional details (environment setup, networking info...):
Postee main branch

[2022-04-14 12:50] DmitriyLewen commented on #354
Hello @krol3
Thanks for your report!

Can you tell which version of `Postee` you are using?

Suffix for `max-db-size` became available in `v.0.23.0` version.

Regards, Dmitriy.

[2022-04-14 23:35] krol3 commented on #354
I was using an old binary in ./bin/postee

[2022-04-14 23:35] #354 closed

[2022-04-15 00:08] simar7 commented on #348
@AnaisUrlichs I just merged the PR that @krol3 created to fix this. Could you confirm is the latest main branch has resolved your issue?

[2022-04-20 02:50] krol3 commented on #86
@simar7 I would like to work in this integration

[2022-04-20 22:18] simar7 commented on #86
go for it!

[2022-04-22 05:02] sandip4aqua commented on #283
The Customer is looking to have the user/pass not a requirement for their email smtp integration.
Since we don’t provide user and password, the connection parameters from Postee would only be the following:
•	SMTP server: hostname or IP address
•	Port number: currently it is using the default 25
 On Aqua side there is an internal process that we have to follow with the Messaging Team; they have to

[2022-04-25 22:25] simar7 commented on #348
Please reopen if issue still persists. Thanks.

[2022-04-25 22:25] #348 closed

[2022-04-27 00:31] simar7 opened #369 "Document serialize-outputs functionality"
Add documentation on how to use the `serialize-outputs` functionality.

_Originally posted by @itaysk in https://github.com/aquasecurity/postee/issues/302#issuecomment-1110201706_

[2022-04-27 23:41] #99 closed

[2022-04-27 23:58] #369 closed

[2022-05-05 17:48] danekantner opened #374 "postee-pv.yml names do not match what is actually called in the postee.yml"
The names in the deployment reference claimName: postee-config-postee-0 and postee-db-postee-0 but they are called postee-pv and postee-config in the postee-pv.yml -- the two names should match so they should be updated to be the same.

https://github.com/aquasecurity/postee/blob/9c44eaeac73a284b96b767c6e0892d9f0060f439/deploy/kubernetes/hostPath/postee-pv.yaml#L6

[2022-05-11 04:02] simar7 commented on #335
This is now available here https://aquasecurity.github.io/postee/examples/

[2022-05-11 04:02] #335 closed

[2022-05-11 04:05] simar7 commented on #333
hi @sandip2503 please reopen if the issue is still not resolved. Thanks.

[2022-05-11 04:05] #333 closed

[2022-05-12 22:03] simar7 opened #380 "Add information about optional/required fields in Actions documentation"
The documentation currently lists fields that our Actions accept but doesn't always list which field is Optional vs. Required. This information however is available within the comments for each Action in the sample cfg.yaml file we used to have: https://github.com/aquasecurity/postee/blob/main/cfg.yaml

Documentation exists here: https://github.com/aquasecurity/postee/blob/main/docs/actions.md

Ac

[2022-05-13 21:18] #48 closed

[2022-05-15 00:33] krol3 commented on #374
Hi @danekantner, the **names** of the Persistence Volumes are not used when you do the claim in the pods, the PVC only bind the capacity storage and the accessMode. See the sample here https://kubernetes.io/docs/tasks/configure-pod-container/configure-persistent-volume-storage/

[2022-05-16 10:49] afdesk opened #383 "Improve rego-templates for OpsGenie action"

[2022-05-24 11:43] Ipuvi opened #387 "Idempotency in Jira Issues & Developer Guide"
Hi Team
Does this takes care of Idempotency while creating Jira issues?
Also, is there a developer guide one could follow to integrate with our existing Trivy Vulnerability Scans?

[2022-05-30 23:59] simar7 commented on #387
Hi @Ipuvi

For your first question, yes you can enable the `unique-message-props` value. This is documented here https://aquasecurity.github.io/postee/routes/#plugins

Your second question brings up a great point that's a valid use case. I will document this in a walkthrough/guide shortly.

[2022-06-04 07:03] jessequinn commented on #348
on GKE im getting " Multi-Attach error for volume"

[2022-06-08 13:07] Ipuvi opened #391 "Webhook message format and url for jira integration"
Hi Team
Is there a particular format in which message should be sent to postee webhook for Jira ticket creation on reported vulnerability?
Also, what's the webhook url, is it possible to manually send trivy cli output to the webhook url?

[2022-06-08 19:38] simar7 commented on #391
hi @Ipuvi - Webhook messages sent to Postee are evaluated via the corresponding rego rule that processes them. If the rule is evaluated as true, the "Actions" such as JIRA ticket creation are performed. This is documented here https://aquasecurity.github.io/postee/routes/

JIRA configuration is supported out of the box and can be configured by via these options https://aquasecurity.github.io/poste

[2022-06-09 11:05] Ipuvi commented on #391
Hi @simar7
I'm able to integrate webhook with CLI scans. I want to scan image not a job or deployment though. I tried using this command `trivy webhook -- --severity CRITICAL <image>` `<image>` here is `repositoryUrl:imageTag`, but the ticket that's getting generated is like the attached screenshot. It does not have details related to image/registry/vulnerability. I have configured actions as ment

[2022-06-09 22:19] simar7 commented on #391
OK A few questions:
1. Can you share you Postee config YAML file?
2. What version of Trivy are you using?
3. Are you using the Trivy Webhook Plugin that I had linked? It could be broken as it is not maintained.
4. If you are using the Trivy Webhook Plugin, could you explain a bit more by what's not working? Do you see the event go out from the Trivy Webhook Plugin -> Postee? Is Postee able to see

[2022-06-14 13:33] simar7 commented on #391
thanks - we will take a look at it. Could you also share postee debug logs? You can get them with running Postee as: `POSTEE_DEBUG=1 ./bin/postee`

[2022-06-15 06:08] Ipuvi commented on #391
Here are the logs.
<img width="1440" alt="Screenshot 2022-06-15 at 11 34 45 AM" src="https://user-images.githubusercontent.com/26660033/173754337-10be0a10-1073-40b1-889a-cc8f4544071f.png">
<img width="1440" alt="Screenshot 2022-06-15 at 11 35 02 AM" src="https://user-images.githubusercontent.com/26660033/173754361-3adcc748-89b3-45d7-be84-b3fde770c014.png">

[2022-06-15 23:53] simar7 commented on #391
Thanks for the logs. I think the reason you're facing this problem is because you might not have set the `PATH_TO_DB` environment variable for Postee. By default Postee stores its logs in `server/database/webhooks.db`. You may not have write access to be able to create the DB. As a result you see the following message in your logs:

[code]

Sending unique messages requires persistence for which a

[2022-06-15 23:58] simar7 commented on #342
Closed via #390

[2022-06-15 23:58] #342 closed

[2022-06-16 09:03] Ipuvi commented on #391
Hi @simar7
I'm able to work this out.
But one more question, how to make it work with `docker-compose.yml` or the `Dockerfile` in the codebase when I would be deploying `postee` in our infra. As I would not be building the source code instead would be using docker for the same but while using that docker postee is not even starting and I'm getting the following error.

`Error response from daemon:

[2022-06-22 18:12] #387 closed

[2022-06-26 23:17] krol3 opened #401 "StatefullSet error in GCP Kubernetes manifest"
## Description

on GKE im getting " Multi-Attach error for volume"
Solution: use node affinity so that statefulset and deployment land on same node.

we need to review the manifest to avoid these errors.

[2022-07-05 18:15] simar7 opened #410 "Postee UI does not save some preferences on disk."
## Description

Postee UI does not save preferences on disk.

## What did you expect to happen?

Upon modifying the Postee config through the UI the changes should be saved on disk.

## What happened instead?

Postee config does not get updated.

## Additional details (environment setup, networking info...):

This is due to actions (previously named as outputs) getting marshalled incorrectly. The

[2022-07-15 15:13] krol3 commented on #374
PR merged! Any doubt please share your comments here

[2022-07-15 15:13] #374 closed

[2022-08-15 21:20] simar7 commented on #391
@Ipuvi - there's a new trivy webhook plugin I wrote that you could use to send results from trivy to postee: https://github.com/aquasecurity/trivy-plugin-webhook

[2022-08-15 21:20] simar7 commented on #391
Feel free to reopen if you still need help.

[2022-08-15 21:20] #391 closed

[2022-08-17 21:18] simar7 opened #443 "docs: Add a section on Trivy Webhook Plugin"
[Trivy Webhook Plugin](https://github.com/aquasecurity/trivy-plugin-webhook) can send results from Trivy to Postee, thereby making Trivy a data source for Postee.

This can be useful in cases such as:
1. Sending Trivy AWS results to AWS Security Hub.
2. Enforcing actions based on vulnerabilities found in an image, secrets found in a repo or otherwise.
3. An actual user case: https://github.com/aqu

[2022-08-17 21:25] simar7 opened #444 "feat: Add support for AWS Security Hub"
[AWS Security Hub](https://aws.amazon.com/security-hub/) is a single glass pane / dashboard / data lake for security tools to send information over for triage and remediation.

<img width="718" alt="image" src="https://user-images.githubusercontent.com/1254783/185245946-55c4384c-aeb4-4966-9863-cbbdbeb85752.png">

Use case:
1. As a user of Trivy AWS, I would like to send my AWS security findings to

[2022-08-24 23:02] #444 closed

[2022-08-25 22:42] #443 closed

[2022-09-13 13:46] souravsk commented on #380
hi @simar7 do I have to make the changes in this table: https://github.com/aquasecurity/postee/blob/main/docs/actions.md
because as I checked the table available on this page already has the optional and required mention already.
if not then let me know i can work on this issue

[2022-09-13 16:00] simar7 commented on #380
Yes that's right. We need a new column for every table in this markdown that clearly explains if it is a required field or not.

[2022-09-14 21:32] souravsk commented on #380
okay i can do that

[2022-09-15 12:19] souravsk commented on #380
hi, @simar7  what will the name of the column I have a preview if that is what you want I can move on.
### Before
![aq2](https://user-images.githubusercontent.com/33636054/190401553-2cb30ce0-dda2-45a0-9745-5cf937d5af62.png)

### After
![aq1](https://user-images.githubusercontent.com/33636054/190401579-408bd505-341f-40b7-aaa1-f9f746477ec8.png)

Please let me know if I have made any mistakes to unde

[2022-09-15 21:18] souravsk commented on #380
That will be very simple to understand. Nice I will do that.

[2022-09-16 09:16] souravsk commented on #380
@simar7 should I also remove the "Required" and "Optional" that are written in the usage or I should leave it like that

[2022-09-16 15:58] simar7 commented on #380
That's part of the task. Ideally like you said, need a single column to define requirement to be yes or no.

[2022-09-16 16:45] souravsk commented on #380
Hey @simar7 i have created the PR you can check #462

[2022-09-16 17:30] simar7 opened #464 "Permission issues on EKS"
## Description

A user reported permission issues when running on EKS. See screenshot below for details.

## What did you expect to happen?

No permission issues

## What happened instead?

![image](https://user-images.githubusercontent.com/1254783/190697864-06e12a3c-1a30-4baa-a913-c385e258dd34.png)

## Output of run with `POSTEE_DEBUG=true`:

`No response`

## Additional details (environment setu

[2022-09-16 19:27] grglzrv opened #465 "Automatically roll deployment when ConfigMap change"
# Description

Add annotation that will track configmap checksum. For example - automatically restart deployment's pod when Configmap change

For example:

 annotation: checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
Link: https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments

# Use Case

If someone use GitOps tool like FluxCD,

[2022-09-20 18:54] simar7 commented on #380
Fixed with #462

[2022-09-20 18:55] #380 closed

[2022-09-23 11:21] grglzrv opened #469 "postee.trivyoperator.slack rego template enhancements"
# Description

I would like to request some enhancements for postee.trivyoperator.slack template.
postee.trivyoperator.slack template gives very simple information, for example:
<img width="636" alt="image" src="https://user-images.githubusercontent.com/19932357/191948319-62d84cfc-7a4a-44ac-bde0-330c90ed408f.png">

Could you please add more info?
for example:
- vulnerability metadata name and name

[2022-09-23 12:06] grglzrv commented on #464
Fixed by adding podSecurityContext: fsGroup: 1099 It should be activated by default
https://github.com/aquasecurity/postee/blob/main/deploy/helm/postee/values.yaml#L37-L46
[code]
<img width="1510" alt="image" src="https://user-images.githubusercontent.com/19932357/191956293-db288912-5d68-4969-a333-9145a3d69965.png">

[2022-09-23 22:17] simar7 commented on #464
thanks for looking into this @grglzrv - are you suggesting the values should be set to default as the following?
[code]

[2022-09-23 22:19] simar7 commented on #469
thanks for filing this, happy to review a PR if you'd like to contribute this.

cc @souravsk - this issue might be of interest to you if you're looking to contribute.

As always, let us know if you need any help getting started.

[2022-09-23 23:03] grglzrv commented on #464
yes

[2022-09-23 23:24] grglzrv commented on #465
PR created - https://github.com/aquasecurity/postee/pull/472/files

[2022-09-24 08:00] souravsk commented on #469
@simar7 ya happy to help. can you let me know where to start

[2022-09-24 10:46] grglzrv commented on #469
@souravsk under rego-templates dir there is a trivy-operator-slack.rego file, it should be update with the aforementioned requirements. You may also reuse trivy-jira.rego file

[2022-09-25 06:59] grglzrv commented on #401
the same here but not with GCP, fixed by changing https://github.com/aquasecurity/postee/blob/main/deploy/helm/postee/values.yaml#L254 to ReadWriteMany. @simar7 why postee is needed to be sts, not deployment, is there any reason?

[2022-09-25 16:24] grglzrv opened #473 "Create secret file for PosteeUI - user and password"
# Description
PostUI user and password are sensitive data, because of that secret.yaml has to be created for the Postee UI creds inside the helm chart. There are no default values set for them as well. Also we need a strategy how to use this secret with GitOps (FluxCD etc.) if you wanna store the creds into git/bitbucket repo is good practice to encrypt this secret - for example with Sealed Secret

[2022-09-26 19:31] simar7 commented on #473
Agreed we can make it better and welcome to ideas.

We also have this existing issue that we should also think of when tackling this: https://github.com/aquasecurity/postee/issues/120

Welcome to ideas and suggestions.

[2022-09-26 22:03] #465 closed

[2022-09-26 22:20] grglzrv commented on #473
@simar7 please review it  https://github.com/aquasecurity/postee/pull/474 . already tested with FluxCD.
for example - if posteUi.existingSecret is false, it will create secret with username & password defined into values.yaml
if posteUi.existingSecret is true, you may create separate secret file, sealed by Sealed secret:

[code]

[2022-09-29 10:35] souravsk commented on #469
@grglzrv what is the command to get the output that you are showing. I want to check it some explem and see the output.

[2022-10-05 07:16] souravsk commented on #469
hey @grglzrv

[2022-10-07 11:08] grglzrv commented on #469
@souravsk it's a slack notification message

[2022-10-08 09:02] souravsk commented on #469
I want to know from where I can get all this data to display.
Do I just have to add here all the vulnerability id, metadata, namespace, title, etc just like critical, and high
and then use it in the `trivy-operator-slack.rego`
[code]

or i have to do something else to get all this data to show the correct information
@grglzrv

[2022-10-10 07:46] souravsk commented on #469
![Screenshot from 2022-10-10 13-13-24](https://user-images.githubusercontent.com/33636054/194819222-19e8e8a2-dd2c-4ed5-a4ac-20735d96da1a.png)
I have written all of this but still, I don't know where should i collect the data for this new tag that you have asked for.

[2022-10-10 08:06] grglzrv commented on #469
I just wrote some template

[code]

[2022-10-10 09:04] souravsk commented on #469
okay

[2022-10-10 14:28] AnaisUrlichs commented on #401
I am also getting multi-attach error on Digital Ocean
here are the events from the UI pod:
[code]

[2022-10-10 14:38] AnaisUrlichs commented on #401
@grglzrv the workaround/change does not seem to work for me, the posttee-ui pod is now starting but the postee pod cannot start and has these errors in the logs
[code]

[2022-10-11 17:20] souravsk commented on #469
![Screenshot from 2022-10-11 22-47-57](https://user-images.githubusercontent.com/33636054/195157641-4efd9597-f45e-42a1-826e-524a91907854.png)
hey @grglzrv these are the things that you wanted

[2022-10-11 17:40] grglzrv commented on #469
Not exactly cuz you need to separate the both vuln reports 0: and 1: . You need make list for - vuln id, installed versio, fixed versio, severity etc then you need to use ```some loop function``` in rego language

[2022-10-11 18:55] simar7 opened #475 "Intermittent CI test failures"
## Description

Postee GitHub Actions fails out intermittently.

Relevant code is here: https://github.com/aquasecurity/postee/blob/main/.github/workflows/publish-chart.yml#L37-L40

## What did you expect to happen?

No failure if everything is as desired.

## What happened instead?

Intermittent failures.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/1254783/19517555

[2022-10-11 19:17] souravsk commented on #469
Okya I understand the separation 0 and 1 index but I don't understand where we need the loop function

[2022-10-12 09:33] grglzrv commented on #469
input.vulnerabilities[i].severity - its a current situation

I mean
vulnList: = [ severity, vulnerabilityID, etc.]
some j in vulnList

input.vulnerabilities[i].[j]

Then you need to loop them into the result:= as well

[2022-10-17 13:42] souravsk commented on #469
Sorry for replying this late
[code]
I tried like this but it is show error in `in` part of the loop.

[2022-10-17 14:01] grglzrv commented on #469
Yes, i just gave you an example

[2022-10-18 09:01] souravsk commented on #469
yes but it's showing an error in this `some i in vulnList` line

[2022-10-18 09:40] jrx-sjg opened #477 "Ingress template not compatible with k8s 1.22+"
## Ingress template not compatible with k8s 1.22

[code]

## Additional details (environment setup, networking info...):
Changing the apiVersion on Ingress template to use buildIn .Capabilities.KubeVersion.GitVersion >= 1.19 solves the issue.

[2022-10-18 22:29] simar7 commented on #473
Fixed with #474

[2022-10-18 22:29] #473 closed

[2022-10-18 22:29] simar7 commented on #469
@souravsk - can you share the link to your rego playground so we can help you better?

[2022-10-19 05:01] souravsk commented on #469
is there any example of this type of rego file I just learn the basics of the rego language for this issue that's why I'm having head time understanding how this works. if this was in another language then I would have done it. so if you have any rego file where function and array are used then I can understand better.

[2022-10-19 05:06] simar7 commented on #469
Take a look at some examples in the Postee repo. I recall there are some usages of loops.

[2022-10-20 07:46] lahiruperamune opened #479 "Send the Slack WebHook URL as a Secret"
When setting up the action to send Slack notification, the Slack WebHook URL need to send as a plain text.
This URL should be sent as a secret value as it contains sensitive data.
Or else there should be a way to provide the whole config via a secret (_/templates/cfg-configmap.yaml_).

[2022-10-20 17:41] grglzrv commented on #479
Hello @lahiruperamune, I planned to improve it. Anyway, good catch!   @simar7 can I take care of it.

[2022-11-07 12:16] tibuntu commented on #479
Hi! Any progress on this? I could potentially provide a PR for this within the next couple of days.

We'd love to use postee in our environment(s) but this blocks us from using it.

[2022-11-09 16:08] EnriqueAlmanza opened #492 "Opsgenie URL hardcoded "ApiUrl: api.opsgenie.com". Not possible to change to "api.eu.opsgenie.com""
## Description

## What did you expect to happen?
To be able to add in the config file the URL, something like:
url: https://api.eu.opsgenie.com

## What happened instead?

## Output of run with `POSTEE_DEBUG=true`:
postee INFO[2022-11-09T15:42:34.961970252Z] Client is configured with ApiUrl: api.opsgenie.com, LogLevel: info, RetryMaxCount: 4
[code]

## Additional details (environment setup, netwo

[2022-11-16 19:37] gsoeldner opened #496 "route "stdout" contains reference to undefined or misconfigured template "raw-json".""
## Description

## What did you expect to happen?
The installation succeeded. We expected to see results of the scan in the container log.

## What happened instead?
We received error from the logs regarding the template.

## Output of run with `POSTEE_DEBUG=true`:
#################################################
# ERROR MESSAGE
#################################################
{
insertId: "q35i4

[2022-11-18 08:05] simar7 commented on #496
@AndreyLevchenko can you take a look at this?

[2022-11-18 08:21] DmitriyLewen commented on #496
Hello @gsoeldner
Thanks for your report!

I can reproduce similar case:
[code]

Looks like your config file contains extra suffix in template name: raw-json`".`
Can you check this?

Can you also send link to GitHub where you get this example yaml file?

Regards, Dmitriy

[2022-11-18 18:28] ichasco-heytrade opened #498 "Trivy Operator error "kind":"Vulnerabili... doesn't match a REGO input files rule""
## Description

When running trivy operator scan, postee can't match the results with rego input

Postee Configuration:

[code]
(paste your output here)
[code]

[2022-11-18 18:34] ichasco-heytrade opened #499 "EKS error can't get Postee and PosteeUI running at the same time because of the volumes"
## Description

I am getting errors because 2 services are deployed using the same volume and in EKS, the EBS volumes doesn't support `ReadWriteMany`

[code]

Should the UI communicate to postee through an API? or use a DB?

## What did you expect to happen?

Have 2 services running

## What happened instead?

I can only have 1 service running

Postee Chart Version: `v2.9.0`

[2022-11-18 20:08] krol3 commented on #499
Hi @ichasco-heytrade  I will take a look! Thank you

[2022-11-19 12:24] gsoeldner commented on #496
Hi Dmitry,

we are using 2.9.0...we used the values.yaml as and removed all the unnecessary stuff:
https://github.com/aquasecurity/postee/blob/main/deploy/helm/postee/values.yaml

Best
Guido

[2022-11-19 12:28] gsoeldner commented on #496
Here is the config:
####################################################
# Installation: helm install app -n postee aqua/postee --values values.yaml
#################################################### values.yaml
image:
  repository: xxx:5200/aquasec/postee
  pullPolicy: Always
  tag: "2.8.4-amd64"
imageInit:
  repository: xxx:5200/busybox
  pullPolicy: IfNotPresent
  tag: "1.34"

posteUi:
  port

[2022-11-19 16:25] ichasco-heytrade commented on #498
The problem is because the template of trivy-operator doesn't exists:

[code]

[code]

[2022-11-19 16:41] ichasco-heytrade commented on #498
As Work Around solution, I have added it manually to custom folder and it started working

[2022-11-21 04:14] DmitriyLewen commented on #496
Hello @gsoeldner

Can you check config log(start of Postee)?
From `Starting Router....` to `Starting WebServer....`
We need to check that template has been configured.

my configuration example:
[code]

[2022-11-21 14:20] g-soeldner commented on #496
Hi,

here is the thconfig log:

2022/11/21 14:18:12 Starting Router....
2022/11/21 14:18:12 Loading alerts configuration file /data/cfg.yaml ....
2022/11/21 14:18:12 Configuring template raw-json
2022/11/21 14:18:12 Can not initialize template raw-json: 1 error occurred during loading: open rego-templates/custom/lost+found: permission denied
2022/11/21 14:18:12 &router.ActionSettings{Name:"splunk"

[2022-11-22 05:42] DmitriyLewen commented on #496
Hello!

Thanks a lot.

Looks like there is problem with access to templates.

can you try to get list of templates in `/server/rego-templates` folder?

example commands(on my PC):
[code]

[2022-11-22 09:20] g-soeldner commented on #496
Hi,

here is the output:
/server/rego-templates $ ls -hl /server/rego-templates/
total 60K
drwxr-xr-x    1 postee   postee      4.0K Sep 14 23:26 common
drwxr-xr-x    3 root     root        4.0K Sep 16 08:41 custom
drwxr-xr-x    1 postee   postee      4.0K Sep 14 23:26 example
-rw-r--r--    1 postee   postee       199 Sep 14 23:26 raw-message-html.rego
-rw-r--r--    1 postee   postee        93 Sep

[2022-11-24 04:03] DmitriyLewen commented on #496
I was able to get a similar error:
[code]

can you check `/server/rego-templates/custom/` folder?
Looks like it contains file without permission.

Remove `/server/rego-templates/custom` folder and rerun postee.